.ts-route-map__attention-icon {
  display: inline-block;
  vertical-align: middle;

  & li {
    display: inline-block;
    padding: 1px 5px;
    margin-top: 1px;
    margin-right: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
  }

  & li:last-child {
    margin-right: 0;
  }

  &--fast {
    background-color: #d46103;
  }

  &--easy {
    background-color: #02813c;
  }

  &--cheap {
    background-color: #00a3d9;
  }

  &--ic {
    background-color: #216cae;
  }

  &--ex {
    background-color: #216cae;
  }

  &--round {
    background-color: #ff0008;
  }
}
