.commons-dialogs-daily-summary-dialog {
  .ts-calendar-weekly-event {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    // 領域が厳しいため
    font-size: 11px;

    &--narrow {
      white-space: nowrap;
    }

    &--no-clickable {
      cursor: auto;
    }

    &__content {
      overflow: hidden;
      height: 100%;
      padding: 3px 0 0 7px;
      border: 1px solid #79abab;
      // レイアウト維持のため透明を指定
      border-left: solid 6px transparent;
      background-color: #97d4d3;
    }

    &__content--hasLink {
      padding-left: 4px;
      border-left: 4px solid #02b7c2;
    }

    &__time {
      padding: 0;
      margin: 0 0 0 4px;
      white-space: nowrap;
    }

    &__title {
      padding: 0;
      margin: 0 0 0 4px;
    }

    &__sub-title {
      padding: 0;
      margin: 0;
      font-size: 10px;
    }

    &__icon-container {
      position: absolute;
      top: 3px;
      right: 3px;
      display: inline-block;
      padding-left: 2px;
    }

    &__icon--outing {
      width: 18px;
      height: auto;
    }

    &__icon + &__icon {
      margin-left: 2px;
    }

    &__job-status {
      position: relative;
      left: -4px;
    }
  }

  .commons-daily-summary-dialog-calendar__events .ts-calendar-weekly-event {
    font-size: 8px;

    &__content {
      padding-left: 5px;
    }

    &__job-status {
      width: 12px;
    }

    &__icon-container {
      right: 2px;
      outline-width: 1px;
    }

    &__icon--outing {
      width: 14px;
    }
  }
}
