.commons-dialogs-daily-summary-dialog {
  /**
   * 日付ヘッダ
   */
  .ts-calendar-weekly-days {
    position: absolute;
    top: 0;
    left: 78px;
    overflow: hidden;
    width: calc(100% - 48px);
    box-sizing: content-box;
    border-bottom: 1px solid #ccc;

    &__icon {
      &-menu {
        z-index: 1;
      }
    }
  }

  .ts-calendar-weekly-days__header {
    position: relative;
    height: 27px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: #fff;
    color: #999;

    &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 27px;
      pointer-events: none;

      &.today {
        border: solid 3px #366fab;
      }

      &.sunday {
        background-color: rgba(239, 239, 241, 0.61);

        & .ts-calendar-weekly-days__header__bottom {
          background-color: rgba(239, 239, 241, 0.61);
        }
      }

      &.saturday {
        background-color: rgba(239, 239, 241, 0.61);

        & .ts-calendar-weekly-days__header__bottom {
          background-color: rgba(239, 239, 241, 0.61);
        }
      }

      &.holiday {
        background-color: #fff5d2;
      }
    }

    &__top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 26px;
      background-color: #f8f9fa;

      & > img {
        position: absolute;
        top: 3px;
        right: 4px;
        width: 20px;
        cursor: pointer;
      }
    }

    &--holiday &__top {
      background-color: rgba(239, 239, 241, 0.61);
    }

    &__bottom {
      position: absolute;
      top: 27px;
      background-color: #fff;

      & img {
        display: inline-block;
        width: 20px;
        margin-top: 5px;
        margin-left: 6px;
      }
    }
  }

  .ts-calendar-weekly-days__table-border {
    position: absolute;
    z-index: 0;
    height: inherit;

    td {
      border-left: 1px solid #ccc;

      &.sunday {
        background-color: rgba(239, 239, 241, 0.61);
      }

      &.saturday {
        background-color: rgba(239, 239, 241, 0.61);
      }

      &.holiday {
        background-color: #fff5d2;
      }
    }
  }

  .ts-calendar-weekly-days__table {
    position: absolute;
    z-index: 1;

    td {
      background: transparent;
    }
  }

  .ts-calendar-weekly-days__table tr:first-child,
  .ts-calendar-weekly-days__table tr:last-child {
    border-bottom: 1px solid #ccc;
  }

  .ts-calendar-weekly-days__header-all-day {
    height: 26px;
    border-left: 1px solid #ccc;
    background-color: #fff;
    color: #999;

    &.sunday {
      // background-color: rgba(251, 234, 230, 0.61);
      background-color: rgba(239, 239, 241, 0.61);
    }

    &.saturday {
      background-color: rgba(239, 239, 241, 0.61);
    }

    &.holiday {
      background-color: #fff5d2;
    }

    &--hidden {
      padding-left: 2px;
      color: #0096e2;
      cursor: pointer;
      font-size: 12px;
    }

    &.blank {
      height: 10px;
    }
  }

  .ts-calendar-weekly-days__day-number {
    padding-top: 4px;
    padding-left: 8px;
    color: #000;
    font-size: 11px;

    &.today {
      color: #0841a1;
    }
  }

  .ts-calendar-weekly-days__day-name {
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    margin: 0 auto;
    color: #ccc;
    font-size: 10px;
  }

  .ts-calendar-weekly-days__event {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 60px;
    height: 16px;
  }

  .ts-calendar-weekly-days__event-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    border-radius: 6px;
  }

  .ts-calendar-weekly-days__event-dot.calendar-monthly-day__event-dot--worktime {
    background-color: rgb(97, 168, 196);
  }

  .ts-calendar-weekly-days__event-dot.calendar-monthly-day__event-dot--exp-apply {
    background-color: rgb(180, 207, 60);
  }

  .ts-calendar-weekly-days {
    .ts-calendar-weekly-days__event-error {
      width: 12px;
      height: 12px;
      margin: 1px;
      vertical-align: baseline;
    }
  }

  .ts-calendar-weekly-days__all-day-event {
    overflow: hidden;
    padding: 2px 0 0 4px;
    margin: 1px;
    font-size: 12px;

    & > div {
      overflow: hidden;
      height: 20px;
      padding-left: 6px;
      background: #97d4d3;
      color: $color-text-default;
      // エリアが厳しいため
      font-size: 11px;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-single {
      color: #000;

      & > div {
        padding-left: 4px;
      }
    }

    &__date {
      overflow: hidden;
    }

    &__title {
      overflow: hidden;
      border-left: 4px solid #97d4d3;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__title--has-link {
      border-left: 4px solid #02b7c2;
    }

    &__title--no-clickable {
      cursor: auto;
    }

    &__dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border: 1px solid #fff;
      background-color: #b4cf3c;
      border-radius: 6px;
      vertical-align: text-top;
    }

    &__job-status {
      margin-right: 3px;
    }

    &__icon {
      width: 16px;
      height: auto;
      margin-left: 2px;
      vertical-align: middle;
    }
  }

  .ts-calendar-weekly-days__btn-menu {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 22px;
    cursor: pointer;
  }
}
