.commons-dialogs-daily-summary-dialog {
  .ts-calendar-weekly__body {
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }

  .ts-calendar-weekly-event-list {
    position: relative;
    height: 100%;
  }

  /**
   * 左上の角のTIME
   */
  .slds .ts-calendar-weekly-time-corner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 79px;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
  }

  .ts-calendar-weekly-time-corner-td {
    height: 27px; // todo:高さの解釈ブラウザごとに違う
    border-bottom: 1px solid #ccc;
    background-color: #f8f9fa;
    color: #000;
    font-size: 9px;
    text-align: center;
  }

  .ts-calendar-weekly-time-corner-td__all-day {
    height: 26px;
    color: #000;
    font-size: 12px;
    text-align: center !important;

    &-title {
      color: #000;
      font-size: 12px;
      text-align: center;
    }
  }

  .ts-calendar-weekly-event-list__events-border-td {
    border-bottom: solid 1px #ccc;
    background-color: #fff;

    & hr {
      margin: 0;
      border-top: dotted 1px #ccc;
    }
  }

  /**
  * 予定コンテンツ
  */
  .ts-calendar-weekly-event-list__events {
    position: absolute;
    top: 87px;
    left: 78px;
    width: calc(100% - 63px - 15px);
    height: calc(100% - 88px);
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .slds .ts-calendar-weekly-event-list__events-border-table,
  .slds .ts-calendar-weekly-event-list__events-table {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 1440px;
    border-collapse: separate;
    border-spacing: 0;
  }

  .ts-calendar-weekly-event-list__day {
    position: relative;
    padding: 0;
    border-left: 1px solid #ccc;

    &.sunday {
      // background-color: rgba(251, 234, 230, 0.61);
      background-color: rgba(239, 239, 241, 0.61);
    }

    &.saturday {
      background-color: rgba(239, 239, 241, 0.61);
    }

    &.holiday {
      background-color: #fff5d2;
    }
  }

  /**
   * フッター
   */
  .slds {
    .ts-calendar-weekly__footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 110px;
      margin-bottom: 79px;
      background-color: #fff;
      text-align: right;

      &__section-line {
        height: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #ebedd9;
      }

      &__table {
        width: calc(100vw - 15px);

        td {
          height: 30px;
          border: 1px solid #ccc;

          &.title {
            width: 48px;
            color: #ccc;
            font-size: 12px;
            text-align: center;
          }

          &.contents {
            text-align: center;
            vertical-align: middle;
          }

          & .time {
            color: #1f6899;
            font-size: 12px;
            text-decoration: underline;
            vertical-align: middle;
          }

          & .graph {
            position: relative;
            width: 80%;
            height: 16px;
            margin: 0 auto;
            background-color: #eee;
            border-radius: 4px;

            &-color {
              text-align: left;

              .color-block {
                display: inline-block;
                height: 16px;
              }

              .project1 {
                background-color: #80c36e;
              }

              .project2 {
                background-color: #43899a;
              }

              .project3 {
                background-color: #d0955b;
              }

              .project4 {
                background-color: #efedf3;
              }

              span:first-child {
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
              }

              span:last-child {
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
              }
            }
          }
        }
      }

      &__icon {
        &-face {
          width: 20px;
          margin-right: 8px;
        }
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
  }

  .slds th,
  .slds td {
    padding: 0;
  }
}
