@import '../../../../styles/variables/colors';

.ts-expenses__form-message-area-column {
  display: flex;
  align-items: center;
  padding: 2px;

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &__icon--warn {
    path {
      fill: #ff9e2c;
    }
  }

  &__icon--error {
    path {
      fill: #b7423a;
    }
  }

  &__record-date {
    padding-right: 12px;
  }

  &__exptype-name {
    padding-right: 12px;
  }
}
