@import '../../../../styles/variables/colors';

.ts-expenses__form-message-area {
  padding: 20px 10px 0;
  margin-bottom: -18px;
  background-color: #fff;

  &__main {
    border: 1px solid #b7423a;
    border-radius: 4px;
  }

  &__header {
    display: flex;
    align-items: center;
    background-color: #f8edec;
    border-radius: 3px;
    color: #b7423a;
    cursor: pointer;
  }

  &__header:hover {
    background-color: #e2c9c7;
  }

  &__header--open {
    border-radius: 3px 3px 0 0;
  }

  &__body {
    padding: 5px 12px;
    background: #fff;
    border-radius: 0 0 3px 3px;
  }

  &__title-button {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 12px;
    outline: none;
  }

  // TODO Should not be use element name directly.
  &__title-button svg {
    width: 12px;
    height: 12px;
    margin-right: 12px;
    margin-left: 3px;
  }

  &__title-button--open svg {
    transform: none;
    transform: rotate(-180deg);
  }
}
