.ts-admin-dialog {
  font-size: 12px;

  &__header {
    height: 52px;
    padding: 0 18px;
    border-bottom: solid 1px #d7dee6;
    background-color: #f3f7fa;

    &-icon {
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }

    &-title {
      display: inline-block;
      color: #51678d;
      font-size: 16px;
      font-weight: bold;
      vertical-align: sub;
    }
  }

  &__footer {
    height: 48px;
    padding: 8px 12px;
    border-top: solid 1px #d7dee6;
    background-color: #f3f7fa;
    text-align: right;
  }

  &__body {
    border: solid 1px #d8d8e3;
    background-color: #fff;
  }

  &__result {
    & td {
      padding: 6px;
      border: 1px solid #ddd;
      text-align: center;
    }

    &-title {
      &__amount {
        width: 100px;
        margin: 0 auto;
        color: #1f089e;
        font-size: 18px;
      }

      &__icon li {
        display: inline-block;
        padding: 1px;
      }
    }

    &-label {
      display: inline-block;
      width: 80px;
      margin-top: 8px;
      vertical-align: top;
    }

    &-btn-area button {
      width: 100px;
    }
  }
}
