.approval-list {
  &__close {
    position: absolute;
    top: -30px;
    right: 0;
  }

  &__header {
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    border-bottom: 1px solid #d8dde6;
    background-color: #f4f6f9;
    border-radius: 4px 4px 0 0;
    line-height: 47px;
  }

  &__header-title {
    font-size: 18px;
    font-weight: bold;
  }

  &__body {
    background-color: #fff;
  }

  &__button {
    width: 125px;
    margin-right: 10px;
  }

  &__button:last-child {
    margin-right: 0;
  }
}

.approval-list-item-list {
  &__search {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
  }

  &__search-conditions {
    align-self: flex-end;
    // inline-blockの隙間を埋める
    letter-spacing: -40em;
  }

  // conditions 子 ここから
  // 必ずletter-spacingをリセットする
  &__search-select.slds-select {
    width: 245px;
    margin-right: 7px;
    letter-spacing: normal;
    vertical-align: top;
  }

  &__search-text-field.slds-input {
    width: 200px;
    margin-right: 7px;
    border-radius: 26px;
    letter-spacing: normal;
  }

  &__search-text-field::before {
    // TODO ここにアイコンのレイアウトを書く
  }

  &__search-button {
    letter-spacing: normal;
  }
  // conditions 子 ここまで

  &__pager {
    align-self: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__pager--disabled {
    color: #b2b2b2;
  }

  &__pager-item {
    display: inline-block;
    margin-right: 10px;
  }

  &__pager-item:last-child {
    margin-right: 0;
  }
}

.approval-list-item-table {
  &__header {
    width: 100%;
    height: 37px;
    border-top: 1px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
    background-color: #f4f6f9;
    color: #858593;
    line-height: 35px;
  }

  &__header-item {
    width: 100%;
    text-align: center;
  }

  &__row {
    height: 49px;
    border-bottom: 1px solid #d8dde6;
    line-height: 48px;
  }

  &__header &__row {
    height: 37px;
    line-height: 35px;
  }

  &__col {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__header &__col--highlight {
    background-color: #efeff3;
  }

  &__body &__col--highlight {
    background-color: #f8f8f9;
  }

  &__row:last-child {
    border-bottom: none;
  }
}

.atndc-modal-item-table {
  &__col--status {
    width: 50px;
  }

  &__col--application-date,
  &__col--start,
  &__col--end,
  &__col--approval-date,
  &__col--paid-holidays {
    width: 96px;
  }

  &__col--identification {
    width: 120px;
  }

  &__col--applicant {
    width: 150px;
  }

  &__col-applicant-img {
    margin-right: 10px;
    border-radius: 50%;
  }

  &__col--remarks {
    padding-left: 14px;
    text-align: left;
  }
}
