.ts-modal-approval-history.slds {
  .ts-modal-approval-history {
    &__header {
      height: 52px;
      padding: 0 18px;
      border-bottom: solid 1px #d7dee6;
      background-color: #f3f7fa;
      border-radius: 4px 4px 0 0;

      &-icon {
        display: inline-block;
        margin-right: 12px;
        vertical-align: middle;
      }

      &-title {
        display: inline-block;
        color: #51678d;
        font-size: 16px;
        font-weight: bold;
        vertical-align: sub;
      }
    }

    &__footer {
      height: 48px;
      padding: 8px 12px;
      border-top: solid 1px #d7dee6;
      background-color: #f3f7fa;
      border-radius: 0 0 4px 4px;
    }

    &__body {
      overflow: auto;
      height: 280px;
      padding: 10px;
      background-color: #fff;
    }

    &__table {
      border-collapse: collapse;
      table-layout: fixed;

      & tr {
        border: solid 1px #d7dee6;
      }

      & thead tr {
        height: 32px;
        background-color: #f3f7fa;
      }

      & td,
      & th {
        overflow: hidden;
        padding: 4px 6px;
        font-weight: normal;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & td.left,
      & th.left {
        text-align: left;
      }

      & th {
        color: #9496a2;
        font-size: 11px;
      }

      & td {
        background-color: #feffff;
        color: #000;
        font-size: 11px;
      }

      & th.step {
        width: 100px;
      }

      & th.createdDate {
        width: 100px;
      }

      & th.status {
        width: 100px;
      }

      & th.originalActor {
        width: 100px;
      }

      & th.actor {
        width: 120px;
      }
    }

    &__icon {
      &-actor {
        width: 34px;
        margin-right: 6px;
      }
    }

    &__btn {
      &-close {
        width: 100px;
        height: 30px;
        border-radius: 4px;
        float: right;
        font-size: 12px;
      }
    }
  }
}
