.attendance-fix-daily {
  width: 400px;

  &__date {
    color: #3a3a3a;
  }

  &__list {
    padding: 0 10px 18px;
  }

  &__list-text {
    padding-left: 15px;
  }

  &__list-icon {
    position: relative;
    top: -0.1em;
    margin: 0 5px;
  }

  &__buttons {
    display: flex;
    align-content: center;
  }

  &__button {
    width: 94px;
    height: 27px;
    margin-right: 10px;
    line-height: 27px;
  }

  &__button:last-of-type {
    margin-right: 0;
  }

  &__comment-bubble-label.ts-horizontal-layout {
    align-items: flex-start;
  }
}
