.dialog {
  position: absolute;
  z-index: 999;
  top: 120px;
  right: 0;
  bottom: 120px;
  left: 0;

  // dialog外部
  &__overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }

  &__contents {
    max-height: 576px;
  }

  // dialog内部
  &__inner {
    position: relative;
  }

  &__close {
    position: absolute;
    top: -23px;
    right: 10px;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    line-height: 1;

    img {
      vertical-align: bottom;
    }
  }

  &__header {
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    border-bottom: 1px solid #d8dde6;
    background-color: #f4f6f9;
    border-radius: 4px 4px 0 0;
    line-height: 47px;
  }

  &__header-title {
    color: #52678c;
    font-size: 18px;
    font-weight: bold;
  }

  &__header-title-icon {
    position: relative;
    top: -0.1em;
    margin-right: 10px;
  }

  &__body {
    position: relative;
    background-color: #fff;
  }

  &__footer {
    display: flex;
    height: 48px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-right: 14px;
    padding-left: 14px;
    border-top: 1px solid #d8dde6;
    background-color: #f4f6f9;
    border-radius: 0 0 4px 4px;
  }

  // フェードアニメーション
  @at-root {
    $pc-transition-name: #{&}-pc;

    #{$pc-transition-name}-enter,
    #{$pc-transition-name}-appear {
      opacity: 0.01;
      transition: opacity 0.3s ease-in;
    }

    #{$pc-transition-name}-enter-active,
    #{$pc-transition-name}-appear-active {
      opacity: 1;
    }

    #{$pc-transition-name}-leave {
      opacity: 0.9;
      transition: opacity 0.3s ease-out;
    }

    #{$pc-transition-name}-leave-active {
      opacity: 0;
    }
  }
}
