$color_input_title: #363c46;
$color_input_value: #000;
$color_btn_text: #4e6493;
$color_text_main: #000;
$color_text_error: #8c0000;
$color_text_info: #7e8bac;
$color_text_sub: #868695;
$color_text_blue: #007fff;

.ts-modal-approval.slds {
  .ts-modal-approval {
    &__header {
      height: 52px;
      padding: 0 12px;
      border-bottom: solid 1px #d0d0d0;
      background-color: #f1f4f8;
      border-radius: 4px 4px 0 0;

      &__title {
        margin-left: 8px;
        font-size: 16px;
        vertical-align: sub;
      }
    }

    &__contents {
      overflow: auto;
      max-height: 460px;
      padding: 8px;
      background-color: #fff;

      .ts-comment-input.slds {
        background-color: #ececec;

        .ts-comment-input__balloon {
          padding-left: 20px;
        }
      }
    }

    &__wrap {
      padding: 24px;
      border: solid 1px #d0d0d0;
      background-color: #ececec;
      text-align: center;

      > div {
        padding: 6px;
      }
    }

    &__input {
      &-require {
        display: inline-block;
        width: 12px;
        color: #f00;
        float: left;
      }

      &-title {
        display: inline-block;
        color: $color_input_title;
        float: left;
        font-size: 13px;
      }

      &-separate {
        display: inline-block;
        padding-right: 12px;
        color: $color_input_title;
        float: right;
        font-size: 13px;
      }

      &-text {
        color: $color_input_value;
        font-size: 14px;
      }

      &-radio {
        text-align: left;

        > label {
          margin-right: 12px;
        }
      }
    }

    &__readonly {
      padding-left: 6px;
      color: #000;
      font-size: 14px;
      text-align: left;
    }

    &__footer {
      min-height: 52px;
      background-color: #fff;
      border-radius: 0 0 4px 4px;

      > div {
        padding: 8px;
        text-align: center;
      }
    }

    &__btn {
      &-approval {
        display: inline-block;
        margin-right: 18px;

        button {
          width: 86px;
          height: 28px;
          font-size: 12px;

          &:disabled {
            cursor: default;
            opacity: 0.2;
          }
        }
      }

      &-cancel {
        display: inline-block;
        margin-right: 18px;

        button {
          width: 86px;
          height: 28px;
          margin-left: 12px;
          font-size: 12px;

          &:disabled {
            cursor: default;
            opacity: 0.2;
          }
        }
      }
    }
  }
}
