@import '../../../commons/styles/variables/colors';

.ts-multi-column-finder.slds {
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
  color: #333;
  font-size: $font-size-default;

  .ts-multi-column-finder {
    border-radius: 4px 4px 4px 4px;

    &__header {
      height: 60px;
      padding: 0 20px;
      border-bottom: solid 1px #d0d0d0;
      background-color: #f1f4f8;
      border-radius: 4px 4px 0 0;

      &__left {
        > div {
          display: inline-block;
        }
      }

      &__title {
        color: #53688c;
        font-size: 20px;
        font-weight: bold;
        vertical-align: sub;
      }
    }

    &__subheader {
      height: 48px;
      padding-left: 36px;
      border-bottom: solid 1px #d0d0d0;
      background-color: #fff;

      &-title {
        height: 44px;
        color: #ccc;
        line-height: 44px;
        text-align: center;

        &.active {
          border-bottom: solid 2px #00a5ea;
          color: #000;
        }
      }
    }

    &__wrap {
      width: 100%;
      max-height: 460px;
      padding: 12px 20px 22px;
    }

    &__contents {
      height: 322px;
      border: solid 1px #d0d0d0;
      overflow-x: auto;
      overflow-y: hidden;
    }

    &__column {
      min-width: 240px;
      max-width: 279.333333px;
      min-height: 322px;
      border-right: solid 1px #d0d0d0;
      overflow-y: scroll;
    }

    &__text {
      padding: 6px 0 6px 24px;
      text-align: left;

      &-name,
      &-code,
      &-main {
        overflow: hidden;
        font-size: 12px;
        line-height: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-sub {
        font-size: 12px;
        line-height: 14px;

        > div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .commons-tooltip {
          width: 10% !important;
          padding: 0 !important;
        }
      }
    }

    &__pointer {
      min-height: 45px;
      cursor: pointer;

      .commons-tooltip {
        width: 100%;
        padding: 2px;
      }
    }

    &__footer {
      height: 60px;
      padding: 8px 20px;
      border-top: solid 1px #d7dee6;
      background-color: #f3f7fa;
      border-radius: 0 0 4px 4px;

      &-area {
        display: flex;
      }

      &-multi {
        .ts-label-with-hint {
          margin-left: auto;
        }
      }

      &-btn {
        width: 100px;
        height: 30px;

        &-cancel {
          margin-left: auto;
          float: right;
        }
      }
    }

    &__item {
      border-bottom: 1px solid #d0d0d0;
      text-align: center;

      :hover {
        background: $color-bg-hover;
      }
    }

    &__item__no-icon {
      display: flex;
      width: 100%;
    }

    &__item--selected {
      background: $color-bg-active;
    }

    &__item-group {
      border-bottom: 1px solid #d0d0d0;
      text-align: center;

      :hover {
        background: $color-bg-hover;
      }

      &__selectable-item,
      &__non-selectable-item {
        width: calc(100% - 31px);
      }

      &__non-selectable-item:active {
        pointer-events: none;
      }

      &--selected {
        svg {
          fill: #53688c;
        }
      }
    }

    &__item-selectable-group--selected {
      background: $color-bg-selected-row;
    }

    &__show-child-btn,
    &__show-child-btn-selectable {
      width: 31px;
      align-self: stretch;
      padding: 12px 0;

      :hover {
        background-color: $color-bg-hover;
      }
    }

    &__show-child-btn-selectable {
      border-left: solid 1px #d0d0d0;
    }

    &__icon {
      &-next {
        width: auto;
        height: 17px;
        align-self: center;
        vertical-align: middle;
      }

      &-fav {
        width: 20px;
      }

      &-header-fav {
        width: 20px;
        margin-top: -4px;
        margin-right: 4px;
      }

      &-info {
        width: auto;
        height: 13px;
        margin-right: 4px;
        float: left;
      }

      &-exp-type-info {
        width: auto;
        height: 15px;
        margin-right: 4px;
        fill: #2782ec;
        float: left;
      }
    }

    &__footer-padding {
      padding-bottom: 51px;
    }

    &__btn-grp {
      width: 40%;
      padding: 12px 20px;
      font-weight: bold;

      .ts-button {
        width: 50%;
        height: 32px;
      }

      .ts-button--default {
        color: #2782ed;
      }

      button {
        &:first-child {
          border: solid 1px #2782ed;
        }

        &:last-child {
          border: solid 1px #2782ed;
          border-left: 0;
        }
      }
    }

    &__code {
      width: 100%;
      padding: 0 20px;
      font-size: 10px;
      line-height: 15px;
    }

    &__name {
      font-size: 12px;
    }

    &__parents {
      .commons-tooltip {
        width: max-content;
      }
    }

    &__row {
      display: flex;
      min-height: 45px;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $color-bg-hover;
      }
    }

    &__parent-row {
      display: flex;
      align-items: center;
      color: #666;

      &-col {
        max-width: fit-content;
        flex: 1 1 0;
        flex-basis: 0;
      }

      &-seperator {
        min-width: 1%;
        padding: 0 6px;
      }

      &-icon-next {
        width: auto;
        height: 10px;
        align-self: center;
        vertical-align: middle;
      }
    }

    &__scrollable {
      max-height: 226px;
      margin: 10px 0;
      border: solid 1px #d0d0d0;
    }

    &__search {
      &-btn {
        position: absolute;
        bottom: 8px;
        left: 8px;
        margin: auto;
      }

      &-field {
        position: relative;
        width: 50%;

        &-label {
          font-weight: bold;
        }

        &-input {
          padding-left: 32px !important;
          margin-top: 10px;
        }
      }

      &-area {
        min-height: 346px;
        padding: 0 20px;
      }

      &-result {
        padding-top: 15px;
      }

      &-result-label {
        font-weight: bold;
      }

      &-result-count {
        float: right;
      }
    }

    &__close {
      position: absolute;
      top: -20px;
      right: 0;
      width: 13px;
      height: 13px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      line-height: 1;

      img {
        vertical-align: bottom;
      }
    }
  }
}
