.ts-paymethod-setting-dialog {
  &__header {
    height: 52px;
    padding: 0 18px;
    border-bottom: solid 1px #d7dee6;
    background-color: #f3f7fa;

    &-icon {
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }

    &-title {
      display: inline-block;
      color: #51678d;
      font-size: 16px;
      font-weight: bold;
      vertical-align: sub;
    }
  }

  &__footer {
    height: 48px;
    padding: 8px 12px;
    border-top: solid 1px #d7dee6;
    background-color: #f3f7fa;
    text-align: center;
  }

  &__body {
    padding: 12px;
    border: solid 1px #d8d8e3;
    background-color: #f0f0f0;

    &-wrap {
      overflow: auto;
      max-height: 380px;
      padding: 12px;
      background-color: #fff;
    }

    &-input {
      .key {
        display: inline-block;
        overflow: hidden;
        width: 90%;
        color: #999;
        font-size: 12px;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
  }

  &__btn {
    &-close {
      width: 100px;
      height: 30px;
      margin-right: 36px;
    }

    &-submit {
      width: 100px;
      height: 30px;
    }
  }

  input[type="text"] {
    display: inline-block;
    width: 100%;
    height: 28px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #d8dde6;
    background-color: white;
    border-radius: 0.25rem;
    color: #000;
    font-size: 12px;
    transition: border 0.1s linear, background-color 0.1s linear;
  }
}
