.ts-route-dialog {
  font-size: 12px;

  &__header {
    height: 52px;
    padding: 0 18px;
    border-bottom: solid 1px #d7dee6;
    background-color: #f3f7fa;

    &-icon {
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }

    &-title {
      display: inline-block;
      color: #51678d;
      font-size: 16px;
      font-weight: bold;
      vertical-align: sub;
    }
  }

  &__footer {
    height: 48px;
    padding: 8px 12px;
    border-top: solid 1px #d7dee6;
    background-color: #f3f7fa;
    text-align: right;
  }

  &__body {
    border: solid 1px #d8d8e3;
    background-color: #fff;
  }

  &__result {
    & td {
      padding: 6px;
      border: 1px solid #ddd;
      text-align: center;
    }

    &-title {
      &__amount {
        width: 100px;
        margin: 0 auto;
        color: #1f089e;
        font-size: 18px;
      }

      &__icon li {
        display: inline-block;
        padding: 1px;
      }
    }

    &-label {
      display: inline-block;
      width: 80px;
      margin-top: 8px;
      vertical-align: top;
    }

    &-route {
      ul li {
        display: inline-block;
        float: left;
      }

      &__map {
        position: relative;
        height: 21px;

        &-fare {
          position: relative;
          z-index: 2;
          display: inline-block;
          padding: 0 4px;
          margin: 0 auto;
          background: #fff;
        }

        select {
          position: relative;
          z-index: 2;
          width: auto;
          font-size: 12px;
        }

        img {
          position: relative;
          z-index: 2;
          height: 14px;
        }

        &-line {
          position: absolute;
          z-index: 1;
          top: 10px;
          bottom: 0;
          left: -3px;
          display: block;
          overflow: hidden;
          width: calc(100% + 6px);
          height: 1px;
          background: #333;
          border-radius: 4px;
          text-indent: 100%;
          white-space: nowrap;

          &--left {
            left: 0%;
            width: 50%;
          }

          &--right {
            left: 50%;
            width: 50%;
          }
        }
      }

      &__title {
        height: 21px;
        font-size: 12px;

        &-station {
          padding-top: 2px;
          color: #0581ff;
        }

        &-transportation {
          img {
            height: 18px;
            margin-right: 4px;
          }

          &::before,
          &::after {
            margin: 0 3px;
            content: "...";
          }
        }
      }
    }

    &-btn-area button {
      width: 100px;
    }
  }
}
