@import 'mobile-global-imports.scss';

.mobile-app-molecules-commons-sf-date-field {
  &__main {
    display: flex;
    justify-items: center;
  }

  &__date-field {
    width: 100%;
  }

  &__date-field--has-remove {
    width: calc(100% - 50px);
  }

  &__icon-button {
    margin-left: 7px;
  }
}
