.ts-expenses-modal-route {
  font-size: 12px;

  &-contents {
    overflow: scroll;
    width: 900px;
    min-height: 280px;
    max-height: 460px;
    background-color: #fff;

    &-route-list {
      tr {
        height: 70px;
        border-bottom: solid 1px #d7dee6;
      }

      &-btn-area button {
        width: 80px;
        margin: 0 10px;
        text-align: center;
      }
    }
  }

  &__footer {
    height: 48px;
    padding: 8px 12px;
    border-top: solid 1px #d7dee6;
    background-color: #f3f7fa;
    text-align: right;
  }
}
