.widgets-proxy-employee-select-dialog-dialog-header.slds-modal__header {
  background-color: $color-bg-heading;

  &__title {
    text-align: left;
  }
}

.widgets-proxy-employee-select-dialog-dialog-header {
  &__title {
    color: $color-text-modest;
    text-align: left;
  }
}
