.widgets-proxy-employee-select-dialog-employee-table {
  &__table {
    border-bottom: 0;
  }

  &__head {
    background-color: $color-bg-heading;
  }

  &__row {
    &:not(&--active):hover {
      background: $color-bg-hover;
    }

    &--active {
      background: $color-bg-active;
    }
  }

  &__emp-photo {
    width: 32px;
    height: 32px;
    background: $color-bg-lighter;
    border-radius: 100%;
  }
}
