.ts-route-form {
  padding: 12px;
  margin: 10 0;
  background: white;
  border-radius: 4px;

  &-add-via-button {
    margin-left: 80px;
    text-decoration: underline;
  }

  &-hr {
    margin: 10px;
  }

  &-snLabel {
    margin: 3px;
    text-align: center;
  }

  &-snLabel--hidden {
    display: none;
  }

  &-option-grid {
    &-displayOrder {
      display: inline-block;
      width: 60%;
      padding-right: 2%;
    }

    &-highwayBus {
      width: 40%;
      float: right;
    }

    &-toggle-button {
      margin-right: 3px;
    }
  }

  &-route-selected-error {
    color: red;
    text-align: left;
  }

  &-option-grid--hidden {
    display: none;
  }

  &-hr--hidden {
    display: none;
  }

  &-round-trip &__options__radio-item {
    width: 100px;
  }

  &-search {
    width: 100%;
    margin-top: 5px;
    text-align: center;

    &-button {
      width: 200px;
      height: 32px;
      padding: 4px;
      margin: 0 auto;
    }
  }

  &-search--hidden {
    display: none;
  }

  input {
    display: inline-block;
    width: 100%;
    height: 28px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #d8dde6;
    background-color: white;
    border-radius: 0.25rem;
    color: #000;
    transition: border 0.1s linear, background-color 0.1s linear;
  }

  label {
    color: #000;
  }
}
