.admin-pc-employee-delegate-apporval-employee-search-form {
  &__form {
    display: flex;
    width: 95%;
    flex-flow: row nowrap;
    align-items: center;

    .slds-input {
      min-height: 32px;
      border-width: 1px 0 1px 1px;
      border-radius: 0;
    }

    > :first-child {
      .slds-input {
        border-radius: 0.25rem 0 0 0.25rem;
      }
    }

    :nth-child(5) {
      .slds-input {
        border-width: 1px 1px 1px 1px;
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }

  &__control {
    width: 100%;
  }

  &__control_first {
    width: 100%;
  }

  &__control &__label {
    color: $color-text-modest;
  }

  &__search {
    min-width: 80px;
  }

  &__search-button {
    position: absolute;
    right: 0.5rem;
    min-width: 32px;
    min-height: 32px;
    align-self: flex-end;
    margin-right: 10px;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
  }
}
