.ts-expenses__form-report-summary__actions {
  &__attach {
    width: 32px;
    min-width: 32px;
    height: 32px;
    margin-right: 16px;
    border: 1px solid #dddbda;
    border-radius: 5px;

    &-count {
      position: absolute;
      top: -3px;
      width: 10px;
      height: 10px;
      margin-left: 23px;
      background: #d93600;
      border-radius: 50%;
      font-size: 10px;
      text-align: center;
    }

    & .ts-expenses__form-report-summary__actions__submenu {
      margin-top: 10px;
    }
  }

  & .lightbox__modal__image-controls > .ts-icon-button {
    background-color: transparent !important;
    border-top-right-radius: 40px;
  }
}
