@import '../../../styles/variables/colors';

.ts-expenses__form {
  overflow: scroll;
  width: 100%;
  height: 95%;
  margin-top: 36px;
  background-color: $color-bg-lighter;

  &-records__list__record-header {
    padding: 10px 0 10px 60px;
    background-color: $color-bg-pane-third;
    font-size: 16px;
  }

  &__record-overlap {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.ts-expenses-unreported-records__contents__recordslist {
  background-color: $color-bg-lighter;
}
