$headerHeight: 34px;

.ts-expenses-child-record-item {
  height: 100%;

  &-header {
    display: flex;
    height: $headerHeight;
    justify-content: space-between;
    padding: 5px 16px;
    background-color: $color-bg-pane-header-third;

    & .ts-button {
      width: 66px;
      min-height: 26px;
    }
  }

  &-nav-title {
    color: #216cae;
    font-size: 16px;
  }

  &-content {
    height: calc(100% - #{$headerHeight});
    padding: 16px;
    background-color: #f0f1f4;
    overflow-y: auto;

    > .ts-text-field-container .key,
    .ts-expenses__form-record-item-summary > .ts-text-field-container .key {
      color: $color-text-modest;
    }

    & .ts-expenses-child-record-item-expense-type {
      width: 268px !important;

      & .ts-select-input {
        padding-left: 8px;
      }
    }

    & .ts-expenses-requests__contents__amount {
      margin-top: 0;

      & .slds-size--2-of-12 {
        width: 10%;
      }

      & .slds-size--4-of-12 {
        width: 40%;
      }
    }

    & .key-dark {
      color: $color-text-modest;
    }
  }

  &-amount-title {
    margin-top: 12px;
  }
}
