@import '../../../../../../commons/styles/variables/colors';

.ts-expenses-modal-approval {
  &__dialog-frame {
    width: 580px;
  }

  &__inner {
    padding: 40px;

    &__condition-name {
      padding-bottom: 5px;
      color: $color-text-modest;
    }

    &__value {
      color: $color-text-modest !important;
    }
  }

  &__error {
    margin-right: 100px;
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
    text-align: right;
  }
}
