.ts-comment-field-icon-outside {
  position: relative;

  &__icon {
    position: absolute;
    bottom: 0;
    left: -93px;
    width: 78px;
    height: 78px;
    background-color: #e6e6e6;
    border-radius: 50%;
  }

  &__bubble {
    position: relative;
  }

  &__bubble::before {
    position: absolute;
    bottom: 13px;
    left: -8px;
    content: url('../../images/partsCommentBubble.png');
  }

  &__textarea {
    width: 100%;
    min-height: 115px;
    vertical-align: bottom;
  }
}
