.ts-comment-field {
  display: flex;

  &__icon {
    flex-basis: 78px;
  }

  &__icon-img {
    width: 78px;
    height: 78px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__bubble {
    position: relative;
    flex-basis: calc(100% - 78px);
    flex-flow: 1;
    padding-left: 10px;
  }

  &__bubble::before {
    position: absolute;
    bottom: 13px;
    left: 2px;
    content: url('../../images/partsCommentBubble.png');
  }

  &__textarea {
    min-height: 90px;
    vertical-align: bottom;
  }
}
