.commons-fields-dropdown-custom {
  margin-right: 4px;

  &__dropdown-icon,
  &__dropdown-icon-btn {
    margin-right: 5px;
    margin-left: 4px;
  }

  &__dropdown-icon-btn {
    width: 12px;
    height: 12px;

    svg {
      fill: #bbb !important;
    }
  }

  &__value {
    display: inline-flex;
    overflow: hidden;
    width: 180px;
    align-items: center;
    justify-content: center;
    padding: 4px 20px 8px 6px;
    border: none;
    background: none;
    border-radius: 4px;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    div {
      overflow: hidden;
      width: 150px;
      text-overflow: ellipsis;
    }

    button {
      display: flex;
    }

    &--is-active {
      background-color: #505f79;
      color: white;

      .commons-fields-dropdown-custom__dropdown-icon-btn > svg {
        fill: #fff !important;
      }
    }
  }
}
