.commons-fields-dropzone {
  @mixin centering() {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @include centering();

  border: 1px dashed #000;

  &__dropzone {
    @include centering();

    padding: 3rem;
  }

  &__button--file {
    height: 32px;
  }
}
