@import '../../../commons/styles/variables/colors';

.commons-fields-dropdown-amount {
  position: absolute;
  display: inline-block;
  flex-direction: column;
  padding: 12px;
  margin-top: 4px;
  border: 1px solid #ccc;
  background-color: $color-bg-pane-first;
  border-radius: 4px;
  box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);

  &__amount-buttons {
    margin: 16px 0;
    text-align: center;

    button {
      margin-right: 8px;
    }
  }

  .commons-fields-dropdown-amount__input1 {
    display: inline-block;
    margin-right: 10px;
  }

  .commons-fields-dropdown-amount__separation {
    display: inline-block;
  }

  .commons-fields-dropdown-amount__input2 {
    display: inline-block;
    margin-left: 10px;
  }

  &__error {
    color: $ts-warning;
    text-align: center;
  }
}
