.commons-fields-filterable-checkbox {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);

  &__search-container {
    padding: 8px 12px;
  }

  &__search-field {
    border: none;
    outline: none;
  }

  &__clear-search {
    border: none;
    background: none;
  }

  &__search-icon {
    color: #c1c7d0;
  }

  &__input-label {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    margin-bottom: 4px;
    cursor: pointer;

    &:hover {
      background-color: #f4f5f7;
    }

    &__is-hidden {
      display: none;
    }
  }

  &__input-checkbox {
    margin-right: 4px;
  }
}
