.ts-label-with-hint {
  display: flex;

  &__info {
    overflow: visible !important;
    height: 13px;
    fill: #2c8def;
    outline: 0;
    vertical-align: baseline;
  }

  &__left-info {
    padding-left: 10px;
  }

  &__right-info {
    padding-right: 10px;
  }

  &__hintMsg {
    white-space: pre-wrap;
  }
}
