.commons-fields-suggest-select-field {
  position: relative;

  &__suggest-item {
    overflow: hidden;
    padding: 0 10px;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__suggestion + &__suggestion {
    border-top: 1px solid #d8dde6;
  }

  &__suggestionHighlighted {
    background-color: #58cdef;
    transition: background-color 0.2s ease-out;
  }

  &__suggestions-list {
    position: absolute;
    z-index: 2;
    top: 28px;
    min-width: 100%;
    border: 1px solid #d8dde6;
    background-color: #fff;
  }
}
