.time-tracking-range-filed {
  position: relative;
  display: inline-flex;
  width: 235px;
  height: 15px;

  @mixin pickIconBar($left) {
    position: absolute;
    top: 3px;
    left: $left;
    width: 1px;
    height: 9px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.3);
    content: '';
    pointer-events: none;
  }

  &--pick-in-edge::before {
    @include pickIconBar(3px);

    z-index: 3;
  }

  &--pick-in-edge::after {
    @include pickIconBar(5px);

    z-index: 3;
  }

  &--is-read-only::before,
  &--is-read-only::after {
    display: none;
  }

  &__bar-wrapper {
    position: relative;
    // 角丸とhidden同時指定時のレンダーバグ対応
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #dcdcd6;
    border-radius: 6px;
  }

  &__bar {
    position: absolute;
    left: 0;
    height: 15px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }

  &__link-bar {
    position: absolute;
    top: 4px;
    left: 0;
    height: 7px;
  }

  &__pick-icon {
    position: absolute;
    z-index: 2;
    top: 0;
    display: block;
    width: 40px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    transform: translateX(-20px);
    user-select: none;
  }

  &__pick-icon--is-direct-input::before {
    @include pickIconBar(13px);
  }

  &__pick-icon--is-direct-input::after {
    @include pickIconBar(15px);
  }

  &__pick-icon--in-edge::before {
    display: none;
  }

  &__pick-icon--in-edge::after {
    display: none;
  }

  &__pick-icon--is-read-only {
    cursor: default;
    user-select: auto; // 比率の計算値を選択できるように
  }

  &__pick-icon--is-read-only::before,
  &__pick-icon--is-read-only::after {
    display: none;
  }

  &__pick-icon-value {
    position: absolute;
    top: -5px;
    left: 7px;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid #53688c;
    background-color: #fff;
    border-radius: 50%;
    color: $color-text-modest;
    font-size: 10px;
  }
}
