.timesheet-pc-dialogs-daily-att-request-dialog-form-frame {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    width: 560px;
    padding: 10px 20px 40px;

    .ts-horizontal-layout:not(:first-child) {
      margin-top: 15px;
    }

    .ts-textarea-field {
      max-width: 100%;
    }

    // FIXME: リード・オンリー時の表示を統一したい
    input:disabled,
    select:disabled,
    textarea:disabled {
      border-color: rgba($color-border-default, 0.2);
      background: rgba(#fff, 0.2);
    }
  }

  &__button {
    width: 90px;
    margin-left: 20px;
    line-height: 1;
  }

  &__operators {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
  }

  &__modify {
    flex: 1 0 auto;
  }

  &__submit {
    flex: 0 0 auto;
  }

  &__submit:first-child {
    flex-grow: 1;
    text-align: right;
  }

  &__approver-employee {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__approver-employee-name {
    max-width: 230px;
    font-weight: bold;
    word-wrap: break-word;
  }
}
