.timesheet-pc-dialogs-daily-att-request-dialog-form-for-direct {
  &__date-range-button {
    margin-right: 7px;
  }

  &__date-range-button:last-child {
    margin-right: 0;
  }

  &__date-range-button--minus {
    margin-left: 37px;
  }

  &__date-range-button + #{&}__date-range-button--minus {
    margin-left: 0;
  }
}
