.timesheet-pc-dialogs-daily-att-request-dialog-form-for-leave {
  &__hours-to-take {
    margin-left: 10px;
  }

  &__rounding-up-notice {
    margin-top: 5px;
    color: $color-text-weak;
    font-size: $font-size-small;
  }
}
