.timesheet-pc-dialogs-daily-att-request-dialog {
  width: 800px;

  .commons-dialog-frame__header-sub::before {
    display: inline-block;
    width: 0;
    height: 100%;
    content: "";
    vertical-align: middle;
  }

  .commons-dialog-frame__contents {
    display: flex;
    min-height: calc(80vh - 100px);
    padding: 10px;
  }

  &__menu {
    flex: 0 0 200px;
    padding-right: 10px;
  }

  &__content {
    flex: 1;
    padding: 10px;
    background-color: #f8f8f8;
  }

  &__no-detail {
    height: 100%;
    text-align: center;

    &::before {
      display: inline-block;
      width: 0;
      height: 100%;
      background: red;
      content: "";
      vertical-align: middle;
    }

    > p {
      display: inline-block;
      width: 60%;
      color: $color-text-weak;
      font-size: 24px;
    }
  }
}
