.timesheet-pc-dialogs-daily-att-request-dialog-menu {
  &__title {
    padding: 2px 5px;
    background: #8ea1b1;
    color: $color-text-inverse;
    font-size: $font-size-large;
  }

  &__item {
    position: relative;
    box-sizing: content-box;
    padding: 2px 0;
    border-top: solid 1px $color-border-default;

    &:first-child {
      border-top: none;
    }
  }

  &__item-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: $color-text-default;
    text-align: left;

    &--selected,
    &--selected:hover,
    &--selected:focus {
      background: $color-bg-active;
    }
  }

  &__item-button-icon {
    // 画像有/無 で width が異なります。
    width: 27px;

    &--with-image {
      width: 34px;
      // 元々のアイコン画像は横幅 24px を想定しておりました。
      // しかし、変更申請のアイコン画像（34px）の追加により表示に必要な横幅が 34px になってしまいました。
      // 元々の横幅 24px の画像が拡大表示されないように 34px に対する不足分を padding-right で補っています。
      // ※ 本来、アイコンの大きさは一つに統一されるべきで CSS で調整するものではないでしょう。
      // これは人と時間が足りなかったために取られた処置です。
      // 然るべき人と時間が確保され対応がされた場合、
      // --is-for-reapply のモディファイヤと padding-right は不要になります。
      padding-right: 34px - 24;
      margin-right: 8px;
    }

    &--is-for-reapply {
      padding-right: 0;
    }
  }
}
