<apex:page controller="RemoteApiController" showHeader="false" sidebar="true" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="true" docType="html-5.0"
  title="{! pageTitleMap['Approval']}">
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>{! pageTitleMap['Approval']}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-language" content="{!JSENCODE(languageLocaleKey)}" />
    <apex:stylesheet value="{!URLFOR($Resource.slds,'assets/styles/salesforce-lightning-design-system.min.css')}"/>


    <script type="text/javascript" src="{!URLFOR($Resource.chunks, '1.vendor.chunk.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.chunks, '2.react.chunk.js')}"></script>
  </head>
  <body>
    <div id="container" class="tsnext"></div>

    <script type="text/javascript">
      window.__icon_path__ = "{!URLFOR($Resource.slds,'assets/icons')}";
      window.__webpack_public_path__ = "{!URLFOR($Resource.chunks)}".replace("chunks", "");
    </script>


    <script type="text/javascript" src="{!URLFOR($Resource.mobile_app, 'js/mobile_app.js')}" />


    <script type="text/javascript">
      (function(){
        window.empInfo = {
          language: '{!JSENCODE(languageLocaleKey)}'
        };
        window.sfSessionId = '{!$API.Session_Id}';
        window.customMessageMap = JSON.parse('{!JSENCODE(customMessageMapJson)}');
        var userPermission = JSON.parse('{!JSENCODE(employeePremissionJson)}');


        var params = (new URL(window.location)).searchParams;
        var pathname = params.get('r');
        var search = params.get('s');
        tsnext.startApp({
          userPermission: userPermission,
          pathname: pathname || 'approval/list',
          search: search
        });

      })();
    </script>
  </body>
</html>
</apex:page>
