@import 'mobile-global-imports';

.mobile-app-pages-report-detail {
  .main-content {
    padding: 48px $small-size;
  }

  &__headline {
    display: flex;
    height: 52px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: $color-blue-800;
  }

  &__headline &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__headline &__total {
    margin: 0 12px;
    font-weight: bold;
  }

  &__subtitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  &__actions {
    height: 48px;
  }

  &__actions-button {
    position: fixed;
    bottom: 28px;
    width: calc(100% - 24px);
  }

  &__dialog {
    min-width: 240px;
  }

  $dialog-font-size: 16px;

  &__item {
    font-size: $dialog-font-size;
    font-weight: bold;
  }

  &__sub-item {
    overflow: hidden;
    max-height: 200px;
    margin-bottom: $extra-small-size;
    font-size: $dialog-font-size;
    word-break: break-word;
  }

  &__amount {
    color: $color-gray-800;
    font-size: $dialog-font-size;
    font-weight: normal;
    text-align: left !important;
  }

  &__report-no {
    color: $color-text-base;
    font-size: $medium-size;
  }
}
