.commons-daily-summary-dialog-calendar-event-list-popup {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: start;

  &__all-day-events-popup-button {
    color: #0096e2;
    font-size: $font-size-small;
  }
}
