.commons-daily-summary-dialog-calendar {
  display: flex;
  height: 100%;
  flex-direction: column;

  .ts-calendar-weekly-days__all-day-event__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2px;
  }

  .ts-calendar-weekly-days__all-day-event {
    padding: 2px 4px 0 4px;
  }

  &__all-day-events-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-border-default;
    text-align: right;
  }

  &__all-day-events-label {
    width: 56px;
    padding: 0 8px;
    color: $color-text-modest;
    text-align: right;
  }

  &__all-day-events-events-wrapper {
    flex: 1;
  }

  &__all-day-events-events {
    min-height: 40px;
  }

  &__all-day-event--empty {
    border-left: 1px solid $color-border-default;
  }

  &__all-day-events-popup-button {
    padding: 0 8px;
    border-left: 1px solid $color-border-default;
    text-align: right;
  }

  &__all-day-events-popup-button-wrapper {
    display: inline-block;
  }

  &__non-all-day-events-wrapper {
    display: flex;
    flex: 1;
    overflow-y: auto;
  }

  &__non-all-day-events-indicator {
    width: 56px;
    height: 40px;
    padding: 0 8px;
    color: $color-text-modest;
    font-size: $font-size-small;
    text-align: right;
  }

  &__non-all-day-events-grid {
    position: relative;
    flex: 1;
  }

  &__non-all-day-events-grid-cell {
    height: 40px;
    border-bottom: 1px solid $color-border-default;
    border-left: 1px solid $color-border-default;
  }

  &__non-all-day-events-grid-divider {
    height: 20px;
    border-bottom: 1px dotted $color-border-default;
  }

  &__content {
    position: relative;
    z-index: 0;
    display: flex;
    margin-left: 50px;
    background-color: #fff;
  }

  &__hour-hands {
    position: absolute;
    top: 0;
    left: -45px;
    width: 40px;
  }

  &__hour-hand {
    display: flex;
    height: 40px;
    align-items: start;
    justify-content: flex-end;
    color: $color-text-modest;
    font-size: $font-size-small;
  }

  &__hour-hand--all-day {
    position: relative;
    height: 30px;
  }

  &__event-border-td--all-day-label {
    position: absolute;
    top: 0;
    left: -45px;
    display: inline-block;
    width: 40px;
    color: $color-text-modest;
    line-height: 1.1;
    text-align: right;
  }

  &__plan-lane {
    z-index: 2;
    flex-basis: 175px;
    border-right: none;
  }

  &__lane-header {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
  }

  &__plan-lane {
    border: 1px solid #d8dde6;
  }

  &__plan-lane &__lane-header {
    color: #52668c;
  }

  &__time-record-lane &__lane-header {
    color: #858592;
  }

  &__lane-table {
    position: relative;
    z-index: 0;
  }

  &__come-time {
    position: absolute;
    z-index: 3;
    left: 0;
  }

  &__office-hours {
    position: absolute;
    z-index: 20;
    left: 3px;
    width: 10px;
    height: 540px;

    > rect {
      width: 100%;
      height: 100%;
    }
  }

  &__events {
    position: absolute;
    top: 0;
    left: 17px;
    width: calc(100% - 17px);
    height: 100%;
  }

  &__all-day-event-more {
    height: 15px;
    font-size: 11px;
    line-height: 15px;
  }

  &__all-day-event-more-link {
    display: inline-block;
    padding-left: 4px;
  }

  &__all-day-event-table .ts-calendar-weekly-days__header-all-day {
    border: none;
  }

  &__event-table {
    border-collapse: collapse;
  }

  .slds &__event-table-row > td {
    border-bottom: 1px solid #d8dde6;
  }

  .slds &__event-table-row:last-child > td {
    border-bottom: none;
  }

  &__event-border-td {
    position: relative;
    height: 40px;
  }

  &__event-border-td--all-day {
    height: 30px;
    border-bottom: 1px solid #d8dde6;
  }

  &__event-table-separate {
    margin: 0;
    border-top: 1px dotted #d8dde6;
  }

  // FIX デモにつきここに記述、本来は元の定義場所に書くべき
  &__event {
    z-index: 10;
    overflow: visible;
  }
}
