.storybook-decorator-dialog {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);

  > div {
    height: 100vh;
    width: 100vw;
  }

  > div > div {
    height: 100vh;
    width: 100vw;
  }
}
