@import 'mobile-global-imports.scss';

.ts-expenses-modal-receipt-library-drop-zone {
  &__file {
    position: relative;
    display: flex;
    width: 100%;
    height: 110px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed $color-border-default;
    border-radius: 3px;
    text-align: center;

    &-label {
      padding: 0 20px;
      color: $color-text-base;
      font-size: 12px;
    }

    .ts-button {
      border: none;
    }

    .ts-button:hover {
      background-color: transparent;
    }

    svg {
      padding: 0;
      fill: #f3f2f2;
    }

    .commons-fields-dropzone__dropzone {
      justify-content: flex-start;
      padding: 0.5rem 1rem;
      text-align: center;
    }
  }

  &__error {
    font-size: 10px;
  }
}
