@import 'mobile-global-imports.scss';

.mobile-app-organisms-attendance-daily-request-detail-layout {
  &__container {
    overflow: scroll;
    height: 100vh;
    padding-top: 48px;
    -webkit-overflow-scrolling: touch;
  }

  &__container-inner {
    margin: 20px $small-size;
  }

  &__history-list {
    margin-bottom: unit(12);
  }

  &__apply-button {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
}
