.mobile-app-components-organisms-attendance-daily-detail-list {
  margin-bottom: 8px;

  &__item {
    display: flex;
    width: 100%;
    margin-top: 8px;
  }

  &__start-time {
    flex-grow: 1;
    margin-right: 4px;
  }

  &__end-time {
    flex-grow: 1;
    margin-left: 4px;
  }

  &__other-rest-time {
    width: 100%;
  }

  &__remarks {
    width: 100%;
  }
}
