@import 'mobile-global-imports';

.mobile-app-components-organisms-attendance-daily-layout {
  &__container {
    overflow: scroll;
    height: 100vh;
    padding-top: 48px + 48px;
    padding-bottom: 64px;
    -webkit-overflow-scrolling: touch;
  }

  &__refresh {
    padding: 0 8px;
  }
}
