.mobile-app-components-organisms-attendance-time-stamp {
  &__send-location-toggle {
    margin: 24px 24px 0;
  }

  &__map {
    height: 178px;
    margin: 16px 24px 0 24px;
  }

  &__message-field {
    margin: 24px 24px 0;
  }

  &__stamp-buttons {
    margin-top: 48px;
  }
}
