@import '../../../../../../styles/variables/colors';

.ts-expenses__form-record-item__actions {
  button {
    height: 32px;
    padding: 0 10px;
  }

  &__cancel {
    margin-right: 10px;
  }

  &__save {
    background-color: $color-bg-primary-dark;
    color: $color-bg-lighter;

    &:hover {
      background-color: $color-bg-primary;
    }
  }
}
