@import 'mobile-global-imports.scss';

.mobile-app-pages-approval-page-list {
  .main-content-appr {
    padding-top: 38px;
  }

  &__select {
    position: fixed;
    z-index: 3;
    border: 0;
    border-bottom: 1px solid $color-border;
    background-color: #fff;
    border-radius: 0;

    &:focus-within {
      border: 0;
      border-bottom: 1px solid $color-border;
      border-radius: 0;
      box-shadow: 0 0 0 $color-border;
    }
  }

  &__num {
    overflow: hidden;
    margin-top: $base-size;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__refresh {
    margin-right: $base-size;
  }

  &__empty {
    margin-top: 150px;
  }

  &__list {
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 46px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}
