.expenses-pc-print-print-report-records {
  margin-bottom: 100px;

  &__record-name {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  &__record-header {
    font-size: 20px;

    &-number {
      display: inline-flex;
      width: 5%;
      font-weight: bold;
    }

    &-date {
      display: inline-flex;
      width: 20%;
      font-weight: bold;
    }

    &-expense-type {
      display: inline-flex;
      width: 25%;
      font-weight: bold;
    }

    &-amount {
      display: inline-flex;
      width: 25%;
      font-weight: bold;
    }

    &-detail {
      display: inline-flex;
      width: 25%;
      font-weight: bold;
    }
  }

  &__record-content {
    font-size: 20px;

    &-row {
      margin-bottom: 5px;
    }

    &-number {
      display: inline-flex;
      width: 5%;
    }

    &-date {
      display: inline-flex;
      width: 20%;
    }

    &-expense-type {
      display: inline-flex;
      width: 25%;
    }

    &-amount {
      display: inline-flex;
      width: 25%;
    }

    &-detail {
      // display: inline-flex;
      display: inline-block;
      width: 25%;
      vertical-align: top;
    }
  }
}
