@import 'mobile-global-imports';

@mixin centering($direction, $align: center) {
  display: flex;
  flex-flow: $direction nowrap;
  align-items: $align;
  justify-content: center;
}

.mobile-app-commons-system-error {
  @include centering(row, flex-start);

  position: relative;
  z-index: $zindex-error-page;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: absolute;
  height: 100vh;
  background-color: $color-blue-100;

  &__container {
    margin: 64px 0 0;
  }

  &__icon {
    @include centering(row);
  }

  &__icon &__error-icon {
    width: 84px !important;
    height: 84px !important;
  }

  &__message,
  &__solution {
    @include centering(row);

    margin: 20px 0 0;
    font-size: 16px;
    text-align: center;
    white-space: pre-wrap;
  }

  &__message &__message-body {
    max-width: 288px;
  }

  &__solution {
    width: 328px;
    padding: 16px;
    background: #fff;
    border-radius: 4px;
  }
}
