@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-page-report-edit-attachment {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__error {
    padding-bottom: 8px;
    color: $color-red-400;
  }

  &__title {
    margin: 0 0 $base-size;
    color: $color-blue-800;
    font-size: 13px;
  }

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    width: 160px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: $color-green-500;
    border-radius: unit(5);
    color: $color-green-500;
    font-size: unit(4);
  }

  &__delete {
    text-align: center;

    & .mobile-app-atoms-text-button__button {
      width: 160px;
      height: 40px;
      border-style: solid;
      border-color: $color-red-600;
      border-radius: unit(5);
      color: $color-red-600;
      font-size: unit(4);
      font-weight: normal;
    }
  }

  &__pdf-download-link {
    display: inline-block;
    height: auto;
    padding: 30px 60px;
    margin-bottom: $extra-small-size;
    border: 2px solid #d9d9d9;
    background: $color-blue-100;
    border-radius: 0;
  }

  & .mobile-app-molecules-commons-view-item {
    border-bottom: none;

    &__body {
      padding-top: 8px;
      text-align: center;
    }
  }
}
