.ts-finance-approval__requests {
  height: 82%;

  &-list {
    display: block;
    overflow: scroll;
    height: calc(100% - 60px);
  }

  &-too-many-results {
    margin-top: 12px;
    color: #006dcc;
    text-align: center;
  }

  &-list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px;
  }
}

.ts-finance-approval__requests-long {
  height: 75%;

  &-list {
    display: block;
    overflow: scroll;
    height: calc(100% - 60px);
  }

  &-too-many-results {
    margin-top: 12px;
    color: #006dcc;
    text-align: center;
  }

  &-list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px;
  }
}
