.ts-expenses-vendor-detail-panel {
  $header-height: 42px;
  $close-width: 28px;

  display: flex;
  overflow: hidden;
  height: inherit;
  max-height: inherit;
  flex-direction: column;

  &__header {
    height: $header-height;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;

    &-title {
      display: inline-block;
      width: calc(100% - #{$close-width});
      height: 100%;
      color: #666;
      font-size: 16px;
      line-height: $header-height;
    }
  }

  &__close {
    display: inline-block;
    width: $close-width;

    & .ts-button__text {
      overflow: hidden;
      width: 12px;
      height: 12px;
    }

    &-icon {
      width: 16px;
      height: 16px;
      margin-top: -9px;
      margin-left: -2px;

      path {
        fill: #999;
      }
    }
  }

  &__table {
    overflow: auto;
    height: calc(100% - #{$header-height});
    max-height: inherit;
  }

  th,
  td {
    padding: 6px 2px 6px 20px;
    border: 1px solid #ddd;
  }

  th {
    width: 35%;
    border-left: none;
    color: #666;
    font-size: 12px;
    font-weight: normal;
  }

  td {
    border-right: none;
    color: #333;
  }

  tr:last-child {
    th,
    td {
      border-bottom: none;
    }
  }

  tr:first-child {
    th,
    td {
      border-top: none;
    }
  }
}
