@import '../../../../styles/variables/colors';

.ts-expenses__reports-list-items {
  display: block;
  width: 100%;
  padding: 13px 22px;
  border: none;
  border-bottom: 1px solid $color-border-default;
  background-color: $color-bg-list-item;
  color: #53688c;
  cursor: pointer;
  font-size: 13px;
  text-align: left;

  &:hover {
    background-color: $color-bg-hover;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &--active {
    background-color: #d8eaf1;
    color: #000;
  }

  &-status {
    display: flex;
    align-items: center;

    img {
      width: 20px;
      margin-right: 12px;
    }
  }

  &-amount {
    text-align: right;
  }
}
