.ts-comment-input.slds {
  align-self: center;
  padding: 7px 8px;
  padding-left: 16px;
  background-color: #fff;
  text-align: left;
  vertical-align: middle;

  .ts-comment-input {
    span {
      position: absolute;
      top: 12px;
      left: 64px;
      color: #000;
    }

    &__icon {
      &-photo {
        display: inline-block;
        width: 45px;
        vertical-align: top;
      }
    }

    &__name {
      color: #516185;
      font-size: 12px;
    }

    &__balloon {
      display: inline-block;
      width: 84%;
      padding-left: 10px;
      margin-top: 6px;
      border-radius: 5px;

      &-box {
        position: relative;
        min-height: 30px;
        border: 1px solid #d0d6e0;
        background: #fff;

        &::after,
        &::before {
          position: absolute;
          top: 12px;
          right: 100%;
          width: 0;
          height: 0;
          border: solid transparent;
          content: " ";
          pointer-events: none;
        }

        &::after {
          margin-top: -3px;
          border-width: 4px;
          border-color: rgba(255, 255, 255, 0);
          border-right-color: #fff;
        }

        &::before {
          margin-top: -4px;
          border-width: 5px;
          border-color: rgba(208, 214, 224, 0);
          border-right-color: #d0d6e0;
        }

        textarea {
          overflow: hidden;
          width: 100%;
          border: none !important;
          font-size: 14px;
          resize: none;
        }

        span {
          overflow: hidden;
          width: 100%;
          border: none;
          color: #000;
          font-size: 14px;
          resize: none;
        }
      }

      &-textarea {
        padding-top: 4px;
        padding-right: 4px;
        padding-left: 4px;
      }
    }
  }
}
