.ts-currency {
  &--modified.slds-input[disabled] {
    background-color: #ffffd6;
  }
}

.ts-currency-edit {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 10px;
  box-sizing: border-box;
  border: none;
}
