// Transition Effects
@mixin smooth-fade-in {
  transition: opacity 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.lightbox {
  text-align: left;

  &-img-thumbnail {
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    image-orientation: none;
    object-fit: contain;
  }

  &__thumbnail-container {
    position: relative;
    display: inline-block;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
      cursor: pointer;
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      .lightbox__thumbnail-hover {
        opacity: 1;
      }
    }
  }

  &__thumbnail-hover {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    text-align: center;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;

    &__msg {
      margin-top: 5px;
      color: #fff;
    }
  }

  &__modal-container {
    &-enter {
      @include smooth-fade-in;

      opacity: 0;

      &-active {
        opacity: 1;
      }
    }

    &-exit {
      @include smooth-fade-in;

      opacity: 0.9;

      &-active {
        opacity: 0;
      }
    }
  }

  &__modal {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    &__image-controls {
      position: absolute;
      z-index: 1;
      width: 100%;
      margin-top: 40px;
      text-align: center;

      .ts-icon-button {
        margin-right: 10px;
      }
    }

    &__image-container {
      position: relative;
      overflow: auto;
      height: calc(100vh - 80px);
      margin: 80px 0 0;
      text-align: center;

      img {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}
