.ts-header.slds {
  min-width: 980px;
  height: 42px;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;

  .ts-header {
    &__contents {
      position: relative;
      height: 42px;
      padding-right: 16px;
      padding-left: 82px;
      border-bottom: solid 1px #d0d0d0;

      > div {
        display: inline-block;
      }
    }

    &__main {
      width: 100%;
      height: 42px;
      text-align: left;
      vertical-align: middle;
    }

    // TODO: 「ユーザー切り替え」や「お知らせ」を実装する際に復活させる
    //&__infos {
    //  position: absolute;
    //  right: 24px;
    //  height: 42px;
    //  width: 160px;
    //  line-height: 42px;
    //  text-align: center;
    //  vertical-align: middle;
    //
    //  > div {
    //    display: inline-block;
    //    width: 40px;
    //    margin: 0 auto;
    //    position: relative;
    //  }
    //
    //  &-badge {
    //    font-size: 11px;
    //    background-color: #e80000;
    //    border-radius: 20px;
    //    color: #fff;
    //    width: 18px;
    //    height: 18px;
    //    vertical-align: middle;
    //    position: absolute;
    //    right: 0;
    //    top: 6px;
    //    line-height: initial;
    //    padding-top: 2px;
    //  }
    //
    //  &-badge-frame {
    //    background-color: #fff;
    //    border-radius: 20px;
    //    width: 19px;
    //    height: 19px;
    //    position: absolute;
    //    right: 0;
    //    top: 6px;
    //  }
    //}

    &__icon {
      position: absolute;
      z-index: 1;
      top: 18px;
      left: 18px;

      img {
        width: 44px;
      }
    }
  }
}
