.commons-personal-menu-popover {
  position: absolute;

  &__popover-container {
    position: absolute;
    right: 1rem;
  }

  &__count {
    position: absolute;
    right: 15px;
    display: flex;
    min-width: 20px;
    justify-content: center;
    background-color: #d93600;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
  }

  &__menu__item {
    position: relative;
    display: flex;
    padding: 0.75rem;
    color: $color-text-default;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: $ts-button-default-focus;
      color: $color-text-default;
      text-decoration: none;
    }

    &:focus:not(:hover, :active) {
      box-shadow: $shadow-button-focus;
    }

    &:active {
      background-color: $ts-button-default-dark;
      color: $color-text-default;
      text-decoration: none;
    }
  }
}
