$color_input_title: #999;
$color_input_value: #000;
$color_input_separate: #000;

.ts-record-item {
  &__contents {
    &__form {
      &__wrap {
        padding: 0 12px;
      }

      &__common {
        padding: 0 12px;
        border-bottom: 1px dashed #d0d0d0;

        &--no-border {
          border-bottom: 0;
        }
      }

      &__list {
        position: relative;
        padding: 0 12px;
        border-bottom: 1px dashed #d0d0d0;

        &__controll-btn {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
        }

        &__header {
          padding-left: 24px;
          font-size: 12px;
        }

        & .right {
          & .value {
            & > input {
              text-align: right;
            }
          }
        }
      }

      & .slds-grid {
        margin-bottom: 4px;

        & > div {
          position: relative;
        }
      }

      & .separate {
        position: absolute;
        right: 0;
        display: inline-block;
        color: $color_input_separate;
        vertical-align: middle;
      }

      & .key {
        display: inline-block;
        overflow: hidden;
        width: 90%;
        color: $color_input_title;
        font-size: 12px;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;

        &.inline {
          width: initial;
          padding-left: 0;
        }
      }

      & .value {
        position: relative;
        padding-left: 6px;
        color: $color_input_value;
        vertical-align: middle;

        &.inline {
          display: inline-block;
        }
      }

      & .require {
        color: #f00;
      }

      & .search {
        & > button {
          width: 32px;
          height: 28px;
          margin-left: 4px;
          border: solid 1px #d0d0d0;
          background-color: #fff;
          border-radius: 4px;
          cursor: pointer;

          &.disable {
            background-color: #f5f5f5;
            cursor: default;
          }
        }
      }
    }
  }
}
