@import '../styles/variables/colors';

.ts-tabs-nav {
  height: 100%;

  &__header {
    display: flex;
    min-height: 45px;
    align-items: flex-end;
    border-bottom: 1px solid $color-border-default;
    background-color: $color-bg-pane-third;
  }

  &__item {
    position: relative;
    padding: 6px 25px;
    border: none;
    background: none;

    &:not(:first-child)::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 20px;
      margin: auto;
      background-color: #9faab5;
      content: '';
    }
  }

  &__item.active {
    top: 1px;
    padding-bottom: 7px;
    border: 1px solid $color-border-default;
    border-bottom: none;
    background-color: $color-bg-lighter;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;

    &::after {
      content: none;
    }
  }

  &__content {
    height: 100%;
    padding-top: 8px;
    background-color: $color-bg-lighter;
  }
}
