.timesheet-pc-dialogs-daily-att-time-dialog {
  width: 490px;

  .commons-dialog-frame__header-sub::before {
    display: inline-block;
    width: 0;
    height: 100%;
    content: "";
    vertical-align: middle;
  }

  &__date {
    color: $color-text-modest;
    font-size: $font-size-large;
  }

  &__list {
    padding: 0 10px 18px;

    // FIXME: リード・オンリー時の表示を統一したい
    input:disabled {
      border-color: rgba($color-border-default, 0.2);
      background: rgba(#fff, 0.2);
    }
  }

  &__button {
    width: 94px;
    height: 27px;
    margin-right: 10px;
    line-height: 27px;
  }

  &__button:last-of-type {
    margin-right: 0;
  }

  &__date-range {
    margin-right: 15px;

    // FIXME: 下記がないと、ボタンとの間のスペースが意図しない長さになる
    .commons-fields-att-time-range-field__separation {
      padding: 5px;
    }
  }

  &__date-range-button {
    margin-right: 7px;

    // FIXME: transition: opacityが有効だと表示不具合が発生するため、暫定処理として無効化している
    // UIの一貫性を部分的に崩してしまっているため、いずれ回復させたい。 see: GENIE-4066
    transition: none;
  }

  &__date-range-button:last-child {
    margin-right: 0;
  }

  &__date-range-button--minus {
    margin-left: 37px;
  }

  &__date-range-button + #{&}__date-range-button--minus {
    margin-left: 0;
  }

  &__other-rest-time.ts-text-field.slds-input {
    width: 7em;
  }
}
