$headerHeight: 35px;
$headerPaginationHeight: 48px;
$footerHeight: 55px;
$searchAreaHeight: 84px;

.approvals-pc-expenses-pre-approval-list-pane-list {
  min-width: 650px;
  height: inherit;

  &__header {
    height: $headerHeight;
    padding-left: 65px;
    background-color: $color-bg-pane-header-first;
  }

  &__header-page {
    height: $headerPaginationHeight;
    padding: 12px 18px;
  }

  &__header-body {
    color: $color-text-header-heading;
    font-size: $font-size-x-large;
    line-height: 35px;
  }

  &__toolbar {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__table {
    height: auto;
    max-height:
      calc(
        100% - #{(
          $headerHeight + $footerHeight + $headerPaginationHeight +
          $searchAreaHeight
        )}
      );
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    height: $footerHeight;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background: none;
  }

  &__page-info {
    display: inline-block;
    padding-left: 4px;
  }

  &__refresh-btn {
    display: inline-block;
    padding: 4px;
    margin-left: 12px;
    background: none;
    border-radius: 4px;
  }

  &__too-many-results {
    margin-top: 12px;
    color: #006dcc;
    text-align: center;
  }
}
