.ts-expenses__form-pre-request-summary {
  padding: 0 8px 20px;
  border-bottom: solid 1px #d8dde6;
  background-color: #f2f4f5;

  &__title {
    margin-bottom: 4px;

    img {
      height: 24px;
      vertical-align: sub;
    }

    span {
      margin: 0 4px;
      font-size: 20px;
    }
  }

  &__body {
    font-size: 13px;
  }

  &__label {
    margin-right: 6px;
    text-align: right;
  }
}
