@import '../../../commons/styles/variables/colors';

.ts-expenses__form {
  margin-top: 1px;
}

.ts-finance-approval {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 42px);
  background-color: $color-bg-lighter;

  &-sub-header {
    position: relative;
    display: flex;
    min-height: 36px;
    align-items: center;
    padding-right: 40px;
    padding-left: 82px;
    background-color: $color-bg-pane-header-first;
    font-size: 15px;

    .commons-fields-dropdown-custom {
      width: 200px;
    }

    .slds-select {
      width: 180px;
      margin-right: 10px;
    }
  }

  &__request-header {
    display: flex;
    align-items: center;
    margin: 12px;
  }

  &__page-info {
    padding-left: 4px;
  }

  &__refresh-btn {
    display: flex;
    padding: 4px;
    margin-left: 12px;
    background: none;
    border-radius: 4px;
  }

  &__back-btn {
    border: 0;
    background: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  &__tab-area {
    height: 100%;
    padding-top: 36px;
  }

  .ts-expenses__form {
    height: 100%;
  }

  .ts-expenses__form-records-button-area__btn-new,
  .ts-expenses__form-records-button-area__btn-edit {
    display: none;
  }

  // css for common expenses + requests
  .input-feedback {
    color: $ts-warning;
  }

  .slds-input,
  .ts-select-input {
    height: 32px;
    color: $color-text-default;
  }

  // key is too generic, but because it is already widely used in our system, we cannot change it now. To change during the next refactor
  .key {
    display: block;
    color: #216cae;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: normal;
  }

  // fix for vfp css
  [class*='slds-size_'],
  [class*='slds-size--'] {
    flex: none;
  }

  // custom styles for form inputs inside exp
  .ts-textarea-field[disabled] {
    background-color: #f4f6f6;
  }
}

// custom styles for form inputs inside exp

.ts-text-field-container {
  width: 100%;
  margin-bottom: 8px;

  .slds-input,
  .ts-select-input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #dddbda;
    background-color: $color-bg-lighter;
    border-radius: 5px;
  }

  .slds-input[disabled],
  .ts-select-input[disabled],
  .ts-textarea-field[disabled] {
    background-color: #f4f6f6;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .commons-fields-date-field {
    width: 100%;
  }
}

.ts-expenses__form-record-item-summary textarea {
  min-height: 78px !important;
}

.record_item__contents__amount_selection {
  select {
    width: 220px;
    height: 32px;
    background-color: $color-bg-lighter;
  }

  select:disabled {
    background-color: #f4f6f6;
    cursor: default;
  }
}
