@import '../../../commons/styles/variables/colors';

.ts-finance-approval-sub-header-pager {
  z-index: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &__back-btn,
  &__previous-request-btn,
  &__next-request-btn {
    border: 0;
    background: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  &__next-request-btn,
  &__previous-request-btn {
    height: auto;
    color: $color-text-default;
    font-size: 24px;
    font-weight: bold;
  }

  &__contents {
    display: flex;
    align-items: center;
  }

  &__current-page {
    margin: 0 12px;
  }
}
