.ts-expenses__form-report-status {
  &__info {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
  }

  &__applicant {
    padding-top: 4px;
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
  }

  &__report-no {
    padding-top: 4px;
    margin-left: auto;
  }

  &__label {
    padding: 1px 12px;
    border-radius: 2px;
    color: white;
  }

  &__notrequested {
    background: #7d7d7d;
  }

  &__pending {
    background: #0e7aa7;
  }

  &__approved {
    background: #14763b;
  }

  &__rejected,
  &__canceled {
    background: #c23934;
  }

  &__removed {
    background: #de933a;
  }

  &__claimed {
    background: #0e7aa7;
  }

  &__accountingrejected {
    border: 1px solid #c23934;
    background: white;
    border-radius: 2px;
    color: #c23934;
  }

  &__accountingauthorized {
    border: 1px solid #14763b;
    background: white;
    border-radius: 2px;
    color: #14763b;
  }

  &__journalcreated {
    border: 1px solid #0e7aa7;
    background: white;
    border-radius: 2px;
    color: #0e7aa7;
  }

  &__fullypaid {
    background: #ddd;
    border-radius: 2px;
    color: black;
  }
}
