@import '../../../../styles/variables/colors';

.ts-expenses__reports-list-header {
  padding: 11px 22px;
  border: solid 1px #d8dde6;
  background-color: #f4f6f9;
  color: $ts-button-default-color;
  font-size: 13px;

  &--amount {
    text-align: right;
  }
}
