.ts-tax-auto {
  position: relative;

  button {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
  }
}

input {
  &.input_disabled {
    &_no-border:disabled {
      border-color: transparent;
    }

    &_no-background:disabled {
      background-color: inherit;
    }

    &_right-aligned:disabled {
      text-align: right;
    }
  }

  &.input {
    &_right-aligned {
      text-align: right;
    }
  }
}
