@import '../../styles/variables/colors';

.ts-expenses {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 42px);
  background-color: $color-bg-lighter;

  &__reports {
    height: 75%;
  }

  &-sub-header {
    display: flex;
    min-height: 36px;
    align-items: center;
    padding-right: 40px;
    padding-left: 82px;
    background-color: $color-bg-pane-header-first;
    font-size: 15px;

    &__title {
      min-width: 120px;
      margin-right: 12px;
    }
  }

  &__reports-list {
    display: block;
    overflow: scroll;
    height: 100%;
  }

  .input-feedback {
    color: $ts-warning;
  }

  input,
  select {
    height: 32px;
    color: $color-text-default;
  }

  select.ts-select-input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../../images/iconArrowDown.png') no-repeat #fff;
    background-position: right 10px center;
  }

  .key {
    display: block;
    color: #216cae;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: normal;
  }

  // fix for vfp css
  [class*='slds-size_'],
  [class*='slds-size--'] {
    flex: none;
  }

  .ts-textarea-field {
    padding: 5px 10px !important;
  }

  // custom styles for form inputs inside exp
  .ts-textarea-field[disabled] {
    background-color: #f4f6f6;
  }
}

.ts-text-field-container {
  width: 100%;
  margin-bottom: 8px;

  input,
  select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #dddbda;
    background-color: $color-bg-lighter;
    border-radius: 5px;
  }

  input[disabled],
  select[disabled] {
    background-color: #f4f6f6;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .commons-fields-date-field {
    width: 100%;
  }
}
