.approvals-pc-detail-parts-receipt-preview {
  padding: 0 0 25px 25px;

  &-label {
    position: relative;
    display: inline-block;
    width: 25%;
    padding-right: 14px;
    padding-left: 10px;
    color: #53688c;
    vertical-align: top;

    &::after {
      position: absolute;
      top: 0;
      right: 5px;
      display: inline-block;
      content: ':';
    }
  }

  &-body {
    display: inline-block;
    max-width: 75%;
  }

  &__pdf-download-link {
    display: inline-block;
    height: auto;
    padding: 30px 60px;
    border: 2px solid #d9d9d9;
    background-color: #f0f7fa;
  }
}
