.ts-design-guildeline-components-panel {
  display: flex;

  &__first,
  &__second,
  &__third {
    flex-basis: 33.3333%;
    position: relative;
    box-shadow: -3px 10px 15px rgba(0,0,0,.25);
  }

  &__first-header,
  &__second-header,
  &__third-header {
    height: 60px;
    line-height: 30px;
  }

  &__first-body,
  &__second-body,
  &__third-body {
    height: 600px;
  }

  &__first-header {
    background-color: $color-bg-pane-header-first;
    color: $color-text-pane-header-first;
  }

  &__first-body {
    background-color: $color-bg-pane-first;
  }

  &__second-header {
    background-color: $color-bg-pane-header-second;
    color: $color-text-pane-header-second;
  }

  &__second-body {
    background-color: $color-bg-pane-second;
  }

  &__third-header {
    background-color: $color-bg-pane-header-third;
    color: $color-text-pane-header-third;
  }

  &__third-body {
    background-color: $color-bg-pane-third;
  }

  &__sub {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-color: #fff;
  }

  &__sub-header {
    background-color: $color-bg-pane-header-sub;
    line-height: 30px;
  }
}