@import '../../../../../commons/styles/variables/colors';

.ts-finance-approval__requests-item {
  display: block;
  width: 100%;
  padding: 13px 0;
  border: none;
  border-bottom: 1px solid $color-border-default;
  background-color: $color-bg-list-item;
  color: #53688c;
  cursor: pointer;
  font-size: 13px;
  text-align: left;

  &-icon {
    text-align: center;
  }

  &:hover {
    background-color: $color-bg-hover;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &--active {
    background-color: #d8eaf1;
    color: #000;
  }

  &-amount {
    padding-right: 10px;
    margin-right: 12px;
    text-align: right;
  }

  &-cell {
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
