.ts-expenses__form-record-item-summary {
  &__ei-lookup-input-btn--clear {
    display: inline-flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    background-color: #afadab;

    svg {
      width: 8px !important;
      height: 8px !important;
      fill: #fff !important;
    }
  }

  & .react-datepicker-popper {
    z-index: 3;
  }

  &__ei-lookup-btn--search {
    height: 32px;
  }
}
