.expenses-pc-print-print-report-header {
  margin-top: 50px;
  margin-bottom: 50px;

  // @media print {
  //   position: fixed;
  //   right: 0;
  //   top: 50px;
  //   left: 0;
  //   margin: 0 auto;
  // }

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
  }

  &__element {
    display: flex;
    align-items: flex-start;
  }

  &__label {
    width: 200px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
  }

  &__value {
    width: 720px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
