.ts-calendar-weekly-times {
  position: absolute;
  top: 87px;
  left: 0;
  overflow: hidden;
  height: calc(100% - 186px);

  &__table {
    width: 78px;
    height: 1440px;
    background-color: #fff;
    border-collapse: collapse;
  }

  &__td {
    position: relative;
    width: 79px;
    padding: 0;
    border-bottom: solid 1px #ccc;
    color: #000;
    font-size: 11px;
    text-align: center;

    & > div {
      position: absolute;
      top: 2px;
      left: 21px;
      font-size: 12px;
    }
  }
}
