.ts-calendar-monthly-day-names {
  width: 100%;
  table-layout: fixed;
  text-align: center;

  &:first-child {
    border-top: medium none;
  }
}

/* FIXME: 以下のようにすると詳細度の関係？からかスタイルが適用されなかった。
  .ts-calendar-monthly-day {
    &--name {
  おそらくクラス名の付け方が良くないので見直す。
*/
.ts-calendar-monthly-day.ts-calendar-monthly-day--name {
  height: auto;
  border-left: solid 1px #d6d6d6;
  background-color: #f4f6f9;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}
