.ts-calendar-monthly {
  position: absolute;
  display: block;
  overflow: auto;
  width: 100%;
  min-width: 980px;
  // position: relative;
  box-sizing: content-box;
  background: #eee none repeat scroll 0 0;

  &__body {
    height: 100%;
    border: 1px solid #ddd;
  }

  &__table__week-box {
    width: 100%;
    height: 150px;
    border-bottom: solid 1px #d0d0d0;
    border-collapse: collapse;
    table-layout: fixed;
  }

  &__table__week-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    & tr {
      height: 24px;
    }

    & td {
      padding-left: 1px;
    }
  }

  &-header {
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #bebdc5;

    & > * {
      display: inline-block;
      height: 40px;
      line-height: 40px !important;
      vertical-align: middle;
    }

    & .icon {
      fill: #bebdc5;
    }

    &__prev-icon {
      padding: 0 10px;
      text-align: left;
    }

    &__next-icon {
      padding: 0 10px;
      margin-left: -40px;
      text-align: right;
    }

    & > span {
      width: 100%;
      box-sizing: border-box;
      padding-right: 40px;
      padding-left: 50px;
      margin-left: -40px;
      color: inherit;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &-week {
    position: relative;
    height: 150px;
    border-top: solid 1px #d6d6d6;
  }

  &-day {
    height: 50px;
    box-sizing: border-box;
    padding: 3px;
    border-left: solid 1px #d6d6d6;
    background: white none repeat scroll 0 0;
    font-size: 1em;
    line-height: 24px !important;
    vertical-align: middle;

    &.today {
      position: relative;
    }

    &__icon {
      width: 20px;

      &-error {
        width: 19px;
      }

      &-menu {
        position: absolute;
        z-index: 1;
        right: 0;
        width: 22px;
        cursor: pointer;
      }

      &-close {
        position: absolute;
        top: 5px;
        right: 5px;
      }

      &-baloon {
        margin-top: 4px;
      }

      &-question {
        width: 16px;
        vertical-align: sub;
      }
    }

    &__details {
      height: 72px;
    }

    &__detail {
      overflow: hidden;
      height: 15px;
      margin: 0;
      border-left: solid 4px transparent;
      color: #000;
      font-size: 11px;
      line-height: initial;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;

      &--hidden {
        padding-left: 8px;
        color: #0096e2;
        cursor: pointer;
      }

      &.event {
        height: 20px;
        padding: 3px 0 0 8px;
        font-size: 11px;
      }

      &.allday {
        overflow: hidden;
        height: 20px;
        padding-left: 8px;
        background: #97d4d3;
        color: $color-text-default;
        font-size: 11px;
        line-height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &--has-link {
        padding-left: 4px;
        border-left: 4px solid #02b7c2;
      }

      &--allow-edit {
        cursor: pointer;
      }
    }

    &__event {
      display: block;
      line-height: 10px;
      text-align: center;

      &-dot {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 2px;
        border-radius: 3px;

        &--worktime {
          background-color: rgb(97, 168, 196);
        }

        &--apply {
          background-color: rgb(239, 180, 40);
        }

        &--exp-apply {
          background-color: rgb(180, 207, 60);
        }
      }
    }

    &.sunday {
      background-color: #efeff1;
    }

    &.saturday {
      background-color: #efeff1;
    }

    &.different-month {
      color: #c0c0c0;
    }

    &__number {
      position: relative;
      z-index: 1;
      width: 100%;
      padding-left: 4px;
      margin-top: -50px;
      color: #000;
      font-size: 14px;
      font-weight: bold;

      &.false {
        color: #999;
      }

      &--today {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        border: solid 3px #366fab;
        color: #60a8c0;
      }
    }
  }
}
