.ts-expenses-modal-record-items__create-row {
  display: flex;
  flex-direction: row;

  & .ts-text-field-container {
    width: 220px;

    & .react-datepicker__input-container {
      width: 100%;
    }
  }

  > .ts-expenses-modal-record-items__create-row-expense-type {
    width: 220px;
    margin-left: 24px;

    & .ts-select-input {
      padding: 0 10px;
    }
  }

  &-amount {
    width: 188px;
    margin-left: 24px;
  }

  &-remove {
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    margin-left: 20px;
    background-color: #afadab;

    svg {
      width: 8px !important;
      height: 8px !important;
      fill: #fff !important;
    }
  }
}
