$headerHeight: 34px;

.ts-expenses-modal-record-items__confirm-display {
  height: 100%;

  &-date,
  &-exp-type,
  &-amount-area,
  &-ei {
    margin-bottom: 12px;
  }

  &-exp-type {
    width: 268px;
  }

  &-date {
    width: 168px;
  }

  & .key {
    padding-left: 2px;
    color: $color-text-modest;
  }

  & .content {
    min-height: 32px;
    padding: 5px 10px;
    background-color: #f4f6f6;
    border-radius: 5px;
    cursor: not-allowed;
  }

  &-sum-body.content {
    min-height: 78px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  &-amount-area-label {
    color: #216cae;
  }

  &-header {
    display: flex;
    height: $headerHeight;
    padding: 5px 16px;
    background-color: $color-bg-pane-header-third;
  }

  &-nav-title {
    color: #216cae;
    font-size: 16px;
  }

  &-content {
    height: calc(100% - #{$headerHeight});
    padding: 16px;
    background-color: #f0f1f4;
    overflow-y: auto;
  }

  &-amount-area {
    padding: 10px;
    background-color: #dbeff9;

    &-gst,
    &-rate {
      display: flex;
    }

    & .edit-icon {
      height: 23px;
    }

    & .ts-text-field--readonly {
      width: auto;
      max-width: 100%;
      padding-left: 0;
    }
  }
}
