@import 'mobile-global-imports.scss';

.ts-expenses-modal-record-items__confirm {
  &__dialog-frame {
    width: 952px;
    height: 600px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid $color-border-default;

    &-name {
      color: #333;
      font-size: 16px;
      font-weight: bold;
    }

    &-amount {
      color: $color-text-modest;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__list {
    & .commons-grid__head {
      border-top: none;
      font-size: 13px;
      font-weight: bold;
    }

    & .commons-grid__body {
      max-height: 266px;
      color: #333;
      overflow-y: auto;

      & .commons-grid-body-row--is-browsing {
        background-color: #d8eaf1;
      }
    }

    & .commons-grid-body-row__cell--select,
    & .commons-grid__cell-head--checkbox {
      flex: 0 0 14px;
    }
  }

  &__action {
    padding: 8px 40px 0;
  }

  &__btn-add-row {
    padding: 5px;
    background-color: $color-bg-lighter;
    color: $color-bg-primary;
    font-weight: bold;
    vertical-align: middle;

    & .ts-icon-button__image {
      width: 12px;
      height: 12px;
      margin: 0 6px 4px 0;
    }
  }

  &__sum {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-amount {
      padding: 3px 30px;
      border-bottom: 1px solid #d8dde6;
      color: #333;
    }

    &-text {
      font-weight: bold;
    }

    &-number {
      padding-left: 70px;
      font-size: 16px;
      font-weight: bold;
    }

    &-feedback {
      padding-right: 13px;
      color: $color-red-600;
      line-height: 30px;

      &-img {
        margin-top: -2px;
        margin-right: 8px;
      }
    }
  }

  &__warning {
    path {
      fill: #b7423a;
    }
  }

  &__inner {
    display: flex;
    height: 100%;
    flex-direction: row;
  }

  &__left {
    width: 50%;
  }

  &__right {
    position: relative;
    width: 50%;
    background-color: #f0f1f4;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  }
}
