@import 'mobile-global-imports', 'buttons';

.mobile-app-components-molecules-commons-buttons-prev-button {
  &__text {
    @include centering();

    .mobile-app-atoms-icon {
      margin-right: $base-size;
    }
  }
}
