.react-dual-listbox {
  position: relative;
  width: 100%;

  &__dual_listbox_title {
    margin-bottom: 6px;
    color: #333;

    &_left {
      display: inline-block;
      width: 50%;
    }
  }

  &__option_appended_text {
    position: absolute;
    top: 37px;
    right: calc(2% + 54px);
    font-size: 11px;
  }

  .rdl-control {
    border-radius: 4px;
  }

  .rdl-move-all {
    visibility: hidden;
  }

  .rdl-move {
    border: #fff;
    background: transparent;
  }

  .rdl-move-up,
  .rdl-move-down {
    position: relative;
    top: -80px;
  }

  select option {
    overflow: hidden;
    max-width: 100%;
    white-space: normal;
    word-wrap: normal !important;
  }

  .rdl-selected {
    select option {
      overflow: hidden;
      max-width: 100%;
      padding-right: 35px;
      white-space: normal;
      word-wrap: normal !important;
    }
  }

  select {
    height: 220px;
  }
}
