@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-page-route-list-item {
  .mobile-app-atoms-input--disabled {
    background-color: $color-gray-200;
  }

  .main-content {
    padding: 48px $small-size;
  }

  &__route {
    display: flex;
    align-items: center;
  }

  &__route-fare-type {
    color: $color-blue-800;
    font-weight: bold;
  }

  &__amount-text {
    border-bottom: 1px solid $color-border;
    color: $color-blue-800;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
  }

  &__route-amount-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: $extra-small-size;
  }

  &__route-amount,
  &__route-return-amount {
    font-size: $medium-size;
  }

  &__route-amount {
    margin-right: $small-size;
    color: $color-blue-800;
    font-weight: bold;
  }

  &__route-return-amount {
    margin-right: $small-size;
    color: $color-gray-600;
  }
}
