.admin-pc-employee {
  &__extra-area {
    position: absolute;
    top: 8px;
    right: 110px;
    color: #0070d2;
    cursor: pointer;
    font-size: 13px;

    &-edit {
      right: 210px;
    }

    &-new {
      display: none;
    }

    :hover {
      text-decoration: underline;
    }
  }
}
