@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-page-record-list-select {
  &__navigation {
    background-color: $color-brand;
    color: $color-text-reverse;
  }

  .main-content {
    padding: 48px 0;
  }

  // TODO: コレは Atom で設定するべき色指定です。
  // 何れ修正する予定です。
  &__cancel-button > button {
    color: $color-text-reverse;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__empty-icon {
    margin: 32px 0;
  }
}
