.ts-button {
  min-height: 28px;
  padding: 0 6px;
  border: 1px solid $ts-button-default-dark;
  background-color: $ts-button-default;
  border-radius: 4px;
  color: $ts-button-default-color;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.2s ease-out;

  &:active {
    background-color: $ts-button-default-dark;
  }

  &:focus:not(:hover, :active) {
    background-color: $ts-button-default-focus;
    box-shadow: $shadow-button-focus;
    outline: none;
  }

  &:hover {
    // hoverはfocusと同じ表現を使う(枠線はなし)
    background-color: $ts-button-default-focus;
    outline: none;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus {
    background-color: $ts-button-default-disabled;
    color: $ts-button-default-disabled-color;
    cursor: not-allowed;
  }

  &__contents {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    vertical-align: middle;
  }

  &__icon {
    height: auto;
    margin-right: 4px;

    &--right {
      margin-right: 0;
      margin-left: 4px;
    }
  }

  &--outline-default {
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &--outline-default:hover,
  &--outline-default:active,
  &--outline-default:focus {
    background-color: #fff;
  }

  &--outline-default[disabled],
  &--outline-default[disabled]:hover,
  &--outline-default[disabled]:active,
  &--outline-default[disabled]:focus {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
  }

  &--primary {
    border-color: $color-bg-primary;
    background-color: $color-bg-primary;
    color: #fff;
  }

  &--primary:hover,
  &--primary:active,
  &--primary:focus {
    border-color: $color-bg-primary-dark;
    background-color: $color-bg-primary-dark;
  }

  &--primary[disabled],
  &--primary[disabled]:hover,
  &--primary[disabled]:active,
  &--primary[disabled]:focus {
    border-color: $color-bg-primary-disabled;
    background-color: $color-bg-primary-disabled;
    color: #fff;
    cursor: not-allowed;
  }

  &--secondary {
    border-color: $color-bg-secondary;
    background-color: $color-bg-secondary;
    color: #fff;
  }

  &--secondary:hover,
  &--secondary:active,
  &--secondary:focus {
    border-color: $color-bg-secondary-dark;
    background-color: $color-bg-secondary-dark;
  }

  &--secondary[disabled],
  &--secondary[disabled]:hover,
  &--secondary[disabled]:active,
  &--secondary[disabled]:focus {
    border-color: $color-bg-secondary-disabled;
    background-color: $color-bg-secondary-disabled;
    color: #fff;
    cursor: not-allowed;
  }

  &--destructive {
    border-color: $color-bg-destructive;
    background-color: $color-bg-destructive;
    color: #fff;
  }

  &--destructive:hover,
  &--destructive:active,
  &--destructive:focus {
    border-color: $color-bg-destructive-dark;
    background-color: $color-bg-destructive-dark;
  }

  &--destructive[disabled],
  &--destructive[disabled]:hover,
  &--destructive[disabled]:active,
  &--destructive[disabled]:focus {
    border-color: $color-bg-destructive-disabled;
    background-color: $color-bg-destructive-disabled;
    color: #fff;
    cursor: not-allowed;
  }

  &--text {
    padding: 0;
    border: none;
    background-color: transparent;
    color: $color-text-anchor;
    font-size: inherit;
    line-height: inherit;
  }

  &--text:hover,
  &--text:active,
  &--text:focus {
    background-color: transparent;
    text-decoration: underline;
  }

  &--text[disabled],
  &--text[disabled]:hover,
  &--text[disabled]:active,
  &--text[disabled]:focus {
    color: darken($color-text-anchor, 15%);
    text-decoration: none;
  }

  @at-root {
    .ts-button-group {
      display: flex;
    }

    .ts-button-group &:nth-child(1n + 2) {
      border-left: none;
    }

    .ts-button-group &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .ts-button-group &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .dialog__footer-container & {
      min-width: 95px;
    }

    .dialog__footer-container & + & {
      margin-left: 10px;
    }

    .ts-lookup-field & {
      line-height: 26px;
    }
  }
}
