.commons-buttons-single-toggle-button {
  &--active {
    background-color: $button-bg-button-exclusive-active;
  }

  &--active:hover,
  &--active:focus,
  &--active:active {
    background-color: darken($button-bg-button-exclusive-active, 15%);
  }
}
