.approvals-pc-expenses-request-pane-detail {
  height: 100%;

  &__list-detail {
    padding-bottom: 20px;
    padding-left: 25px;

    &-item {
      word-break: break-all;
    }
  }

  &__list-detail-item + &__list-detail-item {
    padding-top: 1.5em;
  }

  &__history-list {
    margin-bottom: 20px;
  }

  &__scrollable {
    height: calc(100% - 35px);
    overflow-y: auto;
  }

  &__hr--top {
    margin: 15px 20px;
  }

  &__hr--bottom {
    margin: 15px 20px;
  }

  &__vendor-detail {
    margin-left: 12px;
  }
}
