.approvals-pc-expenses-request-pane-detail_pre_request_summary {
  height: 100%;

  &__list-detail {
    padding-bottom: 24px;
    padding-left: 10px;

    > .approvals-pc-collapse {
      > header {
        padding: 0;
        margin: 6px;
        border-style: none;
        background-image: url('../../../images/11.png');
        background-position-y: 49%;
        background-repeat-y: no-repeat;

        > button {
          margin-right: 2px;
        }

        > h3 {
          padding: 0 12px 0 10px;
          border-style: none;
          background-color: inherit;
          color: $color-text-modest;
        }
      }

      > div > div > .approvals-pc-collapse__panel {
        margin-left: 15px;
        border-style: none;
        background-color: inherit;
      }
    }
  }

  &__list-detail-item + &__list-detail-item {
    padding-top: 0.5em;
  }
}
