@import 'mobile-global-imports';

$button-height: 40px;
$floating-height: 44px;
$action-spaces: 8px;
$action-margin: 24px;

.mobile-app-pages-tracking-daily-task-page {
  &__heading--info {
    position: fixed;
    z-index: $zindex-header;
    top: 96px;
    left: 0;
    width: 100%;
  }

  &__input-field {
    margin: 4px 0 0;
  }

  &__container {
    height: 100vh;
    padding: 190px 0 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__content {
    max-width: 100vw;
    margin: 0 4px;
  }

  &__actions {
    display: flex;
    height: $button-height / 2 + $button-height + $floating-height;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 $action-margin 0;
  }

  &__actions &__add-job-button {
    margin: 0 0 $action-spaces 0;
  }
}
