@import 'mobile-global-imports.scss';

.mobile-app-pages-approval-page-attendance-request {
  &__main-content {
    overflow: scroll;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 72px;
    -webkit-overflow-scrolling: touch;
  }

  &__section {
    padding-top: $small-size;
    padding-right: $small-size;
    padding-left: $small-size;
  }

  &__title {
    margin-bottom: $small-size;
    color: $color-blue-800;
    font-size: unit(5);
    font-weight: $font-emphasis;
    line-height: 1;
  }
}
