@import 'mobile-global-imports.scss';

.record-receipt {
  &__input {
    margin-bottom: 15px;
  }

  &__file {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 1px dashed #000;
    text-align: center;
  }

  &__pdf-icon {
    display: block;
    max-width: 100px;
    margin-top: 12px;
  }

  &__pdf-download-btn {
    display: block;
  }

  &__pdf-download-link {
    display: inline-block;
    height: auto;
    padding: 30px 60px;
    border: 2px solid #d9d9d9;
    background-color: #f0f7fa;
    border-radius: 0;
  }

  &__button {
    &--file {
      height: 32px;
      padding: 0 unit(5);
      margin-top: unit(2);
    }

    &--delete {
      margin-top: unit(4);
    }
  }
}
