.approvals-pc-expenses-pre-approval-pane-detail__records-area-record__body {
  padding: 3px 35px 10px 28px;
  margin-left: 7px;
  border: 1px solid #d8dde6;
  border-top: 0;
  background: #fff;

  &-amount-area {
    padding: 4px 10px;
    background-color: #dbeff9;

    & > div {
      align-items: center;
      padding: 5px;
    }

    &-curry-name-title {
      width: 12.5%;
      color: #136197;
    }

    & img {
      padding: 5px;
    }

    &-label {
      padding-right: 7px;
      text-align: right;
    }

    &-value,
    .ts-text-field {
      text-align: right;
    }
  }

  &-item {
    padding: 10px;

    & > div {
      display: inline-block;
      vertical-align: top;
    }

    &-title {
      width: 25%;
    }

    &-separater {
      width: 5%;
    }

    &-body {
      width: 70%;
    }
  }

  &__pdf-download-btn {
    display: block;
  }

  &__pdf-download-link {
    display: inline-block;
    height: auto;
    padding: 30px 60px;
    border: 2px solid #d9d9d9;
    background-color: #f0f7fa;
    border-radius: 0;
  }

  &__record-items-check-btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 12px;
  }
}
