@import '../../../../../commons/styles/variables/colors';

.ts-finance-approval__requests-header {
  padding: 11px 0;
  border: 1px solid $color-border-default;
  background-color: $color-bg-heading;
  color: $ts-button-default-color;
  font-size: 13px;

  &__sort-button {
    padding: 0;
    border: none;
    background: none;
    float: left;
    text-align: left;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    transform: rotate(180deg);
  }

  &__icon--unvisible {
    visibility: hidden;
  }

  &__icon--isSorted {
    transform: rotate(0);
  }

  &__sort-button:hover &__icon--unvisible {
    visibility: visible;
  }

  &__sort-button :hover img {
    visibility: visible;
  }

  &__amount {
    margin-right: 12px;
    float: right;
  }
}
