<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="container" class="tsnext"></div>

<script type="text/javascript">
  window.__icon_path__ = "/resource/slds/assets/icons";
</script>

<% for (const bundle of htmlWebpackPlugin.options.chunks ) { %>
<script src="/js/<%= bundle %>.js"></script>
<% } %>
<script>
  (function() {
    var userPermission = {
      approveAttDailyRequestByDelegate: true,
      approveAttRequestByDelegate: true,
      approveSelfAttDailyRequestByEmployee: true,
      approveSelfAttRequestByEmployee: true,
      cancelAttApprovalByDelegate: true,
      cancelAttApprovalByEmployee: true,
      cancelAttDailyApprovalByDelegate: true,
      cancelAttDailyApprovalByEmployee: true,
      cancelAttDailyRequestByDelegate: true,
      cancelAttRequestByDelegate: true,
      editAttTimeSheetByDelegate: true,
      manageAttAgreementAlertSetting: true,
      manageAttLeave: true,
      manageAttLeaveGrant: true,
      manageAttLeaveOfAbsence: true,
      manageAttLeaveOfAbsenceApply: true,
      manageAttPattern: true,
      manageAttPatternApply: true,
      manageAttShortTimeWorkSetting: true,
      manageAttShortTimeWorkSettingApply: true,
      manageAttWorkingType: true,
      manageCalendar: true,
      manageDepartment: true,
      manageEmployee: true,
      manageJob: true,
      manageJobType: true,
      manageMobileSetting: true,
      manageOverallSetting: true,
      managePermission: true,
      managePlannerSetting: true,
      manageTimeSetting: true,
      manageTimeWorkCategory: true,
      submitAttDailyRequestByDelegate: true,
      submitAttRequestByDelegate: true,
      switchCompany: true,
      viewAttTimeSheetByDelegate: true,
      viewTimeTrackByDelegate: true,
      manageExpTypeGroup: true,
      manageExpenseType: true,
      manageTaxType: true,
      manageExpSetting: true,
      manageExchangeRate: true,
      manageAccountingPeriod: true,
      manageReportType: true,
      manageCostCenter: true,
      manageVendor: true,
      manageExtendedItem: true,
      manageEmployeeGroup: true,
      manageExpCustomHint: true,
    };
    var params = (new URL(window.location)).searchParams;
    var pathname = params.get('r');
    var search = params.get('s');

    tsnext.startApp({userPermission, pathname, search});
  })();
</script>
<link rel="stylesheet" type="text/css" href="/resource/slds/assets/styles/salesforce-lightning-design-system.min.css">
<% for (const href of htmlWebpackPlugin.options.links) { %>
<link rel="stylesheet" type="text/css" href="<%= href %>">
<% } %>
</body>
</html>
