<?xml version="1.0" encoding="UTF-8"?>
<ApexPage xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>45.0</apiVersion>
    <availableInTouch><%= htmlWebpackPlugin.options.mobile || false %></availableInTouch>
    <confirmationTokenRequired>false</confirmationTokenRequired>
    <label><%= htmlWebpackPlugin.options.label || htmlWebpackPlugin.options.name %></label>
</ApexPage>
