<apex:page controller="RemoteApiController" showHeader="<%= !htmlWebpackPlugin.options.mobile %>" sidebar="true" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="true" docType="html-5.0"
  title="{! pageTitleMap['<%= htmlWebpackPlugin.options.pageTitle %>']}">
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>{! pageTitleMap['<%= htmlWebpackPlugin.options.pageTitle %>']}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-language" content="{!JSENCODE(languageLocaleKey)}" />
    <apex:stylesheet value="{!URLFOR($Resource.slds,'assets/styles/salesforce-lightning-design-system.min.css')}"/>

<% if (!htmlWebpackPlugin.options.mobile) { %>
    <!-- CSS for Salesforce Classic -->
    <apex:variable
      var="uiTheme"
      value="classic2010Theme"
      rendered="{!$User.UIThemeDisplayed == 'Theme2' || $User.UIThemeDisplayed == 'Theme3' || $User.UIThemeDisplayed == 'Theme4t' }">
      <apex:stylesheet value="{!URLFOR($Resource.classic, 'classic.css')}" />
    </apex:variable>
<% } %>
    <script type="text/javascript" src="{!URLFOR($Resource.chunks, '1.vendor.chunk.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.chunks, '2.react.chunk.js')}"></script>
  </head>
  <body>
    <div id="container" class="tsnext"></div>

    <script type="text/javascript">
      window.__icon_path__ = "{!URLFOR($Resource.slds,'assets/icons')}";
      window.__webpack_public_path__ = "{!URLFOR($Resource.chunks)}".replace("chunks", "");
    </script>

<% for (const bundle of htmlWebpackPlugin.options.chunks ) { %>
    <script type="text/javascript" src="{!URLFOR($Resource.<%= bundle %>, 'js/<%= bundle %>.js')}" />
<% } %>

    <script type="text/javascript">
      (function(){
        window.empInfo = {
          language: '{!JSENCODE(languageLocaleKey)}'
        };
        window.sfSessionId = '{!$API.Session_Id}';
        window.customMessageMap = JSON.parse('{!JSENCODE(customMessageMapJson)}');
        var userPermission = JSON.parse('{!JSENCODE(employeePremissionJson)}');

<% if (htmlWebpackPlugin.options.mobile) { %>
        var params = (new URL(window.location)).searchParams;
        var pathname = params.get('r');
        var search = params.get('s');
        tsnext.startApp({
          userPermission: userPermission,
          pathname: pathname || '<%= htmlWebpackPlugin.options.entryPath %>',
          search: search
        });
<% } else { %>
        tsnext.startApp({ userPermission: userPermission });
<% } %>
      })();
    </script>
  </body>
</html>
</apex:page>
