@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-page-report-list {
  &.mobile-app-atoms-wrapper {
    padding-top: 0;
  }

  .main-content {
    padding: 48px 0;
  }

  &__column-first {
    width: 50%;
    padding: 10px;
    float: left;
  }

  &__column-second {
    width: 50%;
    padding: 10px;
    color: $color-blue-800;
    float: right;
    font-weight: bold;
    text-align: right;
  }

  &__title {
    color: $color-gray-800;
    font-size: 16px;
  }

  &__status {
    display: flex;
    align-items: center;
    color: $color-gray-600;
    font-size: 12px;
  }

  &__date {
    display: flex;
    align-items: center;
    color: $color-blue-800;
    font-size: 12px;
  }

  &__icon {
    margin-right: 6px;
  }

  &__empty {
    margin-top: 150px;
  }

  &__info {
    position: fixed;
    z-index: 44;
    top: 8px;
    right: 0;
    text-align: justify;
  }

  .mobile-app-molecules-commons-dialog__buttons {
    display: none;
  }
}
