@import 'mobile-global-imports.scss';

.mobile-app-atoms-icon-button {
  $this: &;

  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
  outline: none;

  &:active:not(&--disabled) {
    background: $color-blue-200;
  }

  &#{$this}--size-large,
  &#{$this}--size-x-large {
    width: auto;
    height: auto;
  }
}
