@import 'mobile-global-imports.scss';

.mobile-app-pages-approval-page-expense-record {
  .main-content {
    padding: $small-size;
    padding-top: 52px;
  }

  &__title {
    margin-bottom: $extra-small-size;
    color: $color-blue-800;
  }

  &__pdf-download-link {
    display: inline-block;
    height: auto;
    padding: 30px 60px;
    margin-bottom: $extra-small-size;
    border: 2px solid #d9d9d9;
    background: $color-blue-100;
    border-radius: 0;
  }
}
