.tracking-pc-list-item {
  display: flex;
  min-height: 30px;
  border-bottom: 1px solid $color-border-default;

  &__item {
    border-right: 1px solid $color-border-default;
  }

  &__item-date-inner {
    display: flex;
    min-height: 29px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
  }

  &:last-child {
    border-bottom: none;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__task-wrapper {
    position: relative;
  }

  &__task-wrapper::before {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, $color-border-default, $color-border-default 2px, transparent 2px);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    content: '';
  }

  &__task-wrapper:empty::before {
    display: none;
  }
}
