.tracking-pc-list-item-task {
  display: flex;
  min-height: 30px;

  &__item {
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid $color-border-default;
  }

  &__item--work-time {
    align-content: flex-start;
  }

  // nameだけpadding-leftを調整
  &__item--name {
    padding-left: 0;
  }

  &__item:last-child {
    border-right: none;
  }

  &__item--work-time {
    justify-content: center;
  }

  &__task-index {
    display: flex;
    height: 29px;
    flex: 0 0 30px;
    align-items: center;
    justify-content: center;
  }

  &__task-name {
    display: flex;
    min-height: 29px;
    align-items: center;
  }

  &__tracking-graph {
    height: 13px;
  }
}
