@import 'mobile-global-imports.scss';

.mobile-app-components-molecules-attendance-time-stamp-stamp-clock {
  color: $color-blue-600;
  text-align: center;

  &__date {
    font-size: 20px;
  }

  &__time {
    font-size: 60px;

    @keyframes blink {
      50% { opacity: 0; }
    }

    > span {
      animation: blink 1s step-end infinite;
    }
  }
}
