.approvals-pc-att-monthly-process-list-pane-list {
  height: inherit;

  &__header {
    height: 35px;
    padding-left: 65px;
    background-color: $color-bg-pane-header-first;
  }

  &__header-body {
    color: $color-text-header-heading;
    font-size: $font-size-x-large;
    line-height: 35px;
  }

  &__table {
    height: calc(100% - 75px);
  }
}
