@import 'mobile-global-imports.scss';

.mobile-app-molecules-commons-file-preview {
  &__pdf-download-link {
    display: inline-block;
    height: auto;
    padding: 30px 60px;
    margin-bottom: $extra-small-size;
    border: 2px solid #d9d9d9;
    background: $color-blue-100;
    border-radius: 0;
  }
}
