.tracking-pc-pc-header-sub {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 70px;
  border-bottom: 1px solid $color-border-default;
  background-color: #b1c9db;

  &__heading {
    color: $color-text-header-heading;
    font-size: $font-size-x-large;
  }

  &__request-status {
    display: inline-block;
    min-width: 90px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 20px;
    background-color: #d5e2ec;
    border-radius: 4px;
    line-height: 28px;
    text-align: center;
  }

  &__request-button {
    width: 90px;
    line-height: 26px;
  }
}
