.tracking-pc-request-dialog {
  &__dailog-frame {
    width: 580px;
  }

  &__inner {
    padding: 40px;
  }

  &__target-wrapper {
    display: flex;
  }

  &__target-label {
    flex: 0 0 70px;
    margin-bottom: 20px;
  }

  &__target-label-separator {
    display: inline-block;
    margin-left: 6px;
  }
}
