.commons-dialogs-daily-summary-dialog {
  position: relative;
  display: inline-block;
  width: 90vw;
  min-width: 980px;
  max-width: 1400px;
  height: 90vh;
  min-height: 540px;
  text-align: left;
  vertical-align: middle;

  &__date-selector {
    display: inline-flex;
    height: 51px;
    align-items: center;
    color: $color-text-modest;
    font-size: $font-size-large;
  }

  &__date-selector-prev-button,
  &__date-selector-next-button {
    color: $color-text-modest;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }
  }

  &__date-selector-prev-button {
    // もともと全角スペースでマージンを取っていたものからの修正です。
    // 全角スペースのときはスペースまでクリックが可能でした。
    // クリック領域が広いことは操作しやすい点で利点だったと思います。
    // その利点を引き継ぐために margin ではなく padding を採用しました。
    // （margin はクリック領域にならず、padding はなるので）
    padding-right: 1em;
  }

  &__date-selector-next-button {
    padding-left: 1em;
  }

  &__date-selector-prev-button:active,
  &__date-selector-prev-button:focus,
  &__date-selector-prev-button:hover,
  &__date-selector-next-button:active,
  &__date-selector-next-button:focus,
  &__date-selector-next-button:hover {
    color: $color-text-modest;
  }

  &__contents {
    display: flex;
    overflow: hidden;
    height: 100%;
    border-radius: 0 0 4px 4px;
  }

  &__calender {
    flex-basis: 245px;
    flex-shrink: 0;
    border-right: 1px solid #d8dde6;
    overflow-y: auto;
  }

  &__summary {
    position: relative;
    flex: 1 0 735px;
    padding: 10px;
    overflow-y: auto;
  }

  &__summary-scrollable-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }
}
