@import '../../../styles/variables/colors';

.ts-expenses__header {
  display: flex;
  height: 100%;
  justify-content: flex-end;

  .tab__icon {
    opacity: 1;
  }

  &__btn-container {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid $color-bg-secondary;
    background-color: $color-bg-lighter;
    border-radius: 8px;
    color: $color-bg-secondary;
    vertical-align: middle;

    img {
      margin-right: 6px;
    }
  }

  .tab--active {
    border-bottom: none;
  }
}
