@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-type {
  .main-content {
    padding: 48px $small-size;
  }

  &__result {
    width: 100%;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    width: 100%;
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}
