@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-page-record-new-general {
  width: 100%;

  .main-content {
    padding: 48px $small-size;
    margin-top: 12px;
  }

  .main-content > * {
    padding-bottom: $extra-small-size;
  }

  &-amount-area > * {
    padding-bottom: $extra-small-size;
  }

  &-amount-area input {
    text-align: right;
  }

  &-extended-item > * {
    padding-bottom: $extra-small-size;
  }
}

.mobile-app-pages-expense-page-record-new-general-extended-item {
  .mobile-app-molecules-commons-text-field,
  .mobile-app-molecules-commons-sf-date-field,
  .mobile-app-molecules-commons-select-field {
    padding-bottom: 8px;
  }
}
