.ts-design-guildeline-font-color {
  &__base {
    color: $color-text-default;
  }

  &__modest-sample-table {
    margin-top: 10px;

    th,
    td {
      padding: 5px;
    }

    th {
      font-weight: normal;
    }

    thead {
      background-color: #f7f7f7;
      color: $color-text-modest;
    }
  }

  &__mod {
    color: $color-text-modest;
  }

  &__em {
    color: $color-text-emphasis;
    font-weight: bold;
  }

  &__anchor {
    color: $color-text-anchor;
  }

  &__inverse {
    color: $color-text-inverse;
  }

  &__inverse-container {
    padding: 10px;
    background-color: #000;
  }
}
