.ts-design-guildeline-font {
  &__size-default {
    font-size: $font-size-default;
  }

  &__size-small {
    font-size: $font-size-small;
  }

  &__size-large {
    font-size: $font-size-large;
  }

  &__size-x-large {
    font-size: $font-size-x-large;
  }
}
