/**
 * modal transition settings
 */
.ts-modal-transition-slideup {
  z-index: 1;
  position: relative;
  top:0;
  bottom:0;
  width: 100vw;
  height: 100vh;
  background-color: #F0F1F2;
}

.ts-modal-transition-slideup-enter {
  -webkit-transition-duration: .3s;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -webkit-transform: translate3d(0,100%,0);
}

.ts-modal-transition-slideup-enter.ts-modal-transition-slideup-enter-active {
  -webkit-transform: translate3d(0,0,0);
}

.ts-modal-transition-slideup-appear {
  -webkit-transition-duration: .3s;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -webkit-transform: translate3d(0,100%,0);
}

.ts-modal-transition-slideup-appear.ts-modal-transition-slideup-appear-active {
  -webkit-transform: translate3d(0,0,0);
}

.ts-modal-transition-slideup-leave {
  -webkit-transition-duration: .2s;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -webkit-transform: translate3d(0,0,0);
}

.ts-modal-transition-slideup-leave.ts-modal-transition-slideup-leave-active {
  -webkit-transform: translate3d(0,100%,0);
}
