@import '../../../../../styles/variables/colors';

.ts-expenses__form-records-button-area {
  &__contents {
    display: flex;
    align-items: center;
    padding: 36px 16px 7px;

    .ts-button {
      width: max-content;
      height: 32px;
      min-height: 32px;
      white-space: nowrap;
    }

    .commons-fields-dropdown {
      width: auto;
      height: 32px;
      min-height: 32px;

      .slds-button {
        height: 32px;
        min-height: 32px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        border-color: #05ae06;
        border-left-color: #fff;
        background-color: #05ae06;
        border-radius: 0 0.25rem 0.25rem 0;
        color: #fff;

        &:disabled {
          border-color: #8ca18a;
          border-left-color: #fff;
          background-color: #8ca18a;
        }

        &:focus,
        &:hover {
          border-color: #036403;
          border-left-color: #fff;
          background-color: #036403;
        }
      }

      .slds-button__icon_right {
        margin-left: 0;
      }
    }
  }

  &__title {
    width: 100%;
    margin-right: 48px;
    font-size: 16px;
  }

  &__btn-import {
    margin: 0 6px;
  }

  &__btn-delete,
  &__btn-clone {
    margin-left: 5px;

    button {
      height: 32px;
    }
  }

  &__btn-new {
    display: flex;
    width: max-content;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 4px 0 0 4px;

    &-request {
      border-radius: 4px;
    }
  }

  &__btn-new-area {
    display: flex;
  }
}
