@page {
  margin: 0;
}

.ts-container {
  width: 172mm;
  margin: 0 auto;
  background-color: white;

  & .ts-button {
    margin-top: 10px;
    margin-right: 30px;
    float: right;

    @media print {
      display: none;
    }
  }
}
