.approvals-pc-tracking-process-list-pane-detail-table-row {
  display: flex;
  min-height: 30px;
  border-bottom: 1px solid $color-border-default;
  background-color: #fff;

  &__item {
    &:last-child {
      border-right: none;
    }

    border-right: 1px solid $color-border-default;
  }

  &__item-date-inner {
    display: flex;
    min-height: 29px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
  }

  &:last-child {
    border-bottom: none;
  }

  &__content {
    min-width: 0;
    flex: 1 1 auto;
  }

  &__empty-content {
    display: flex;
  }

  &__task-wrapper {
    position: relative;
  }

  &__task-wrapper::before {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-image:
      linear-gradient(
        to right,
        $color-border-default,
        $color-border-default 2px,
        transparent 2px
      );
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    content: '';
  }

  &__task-wrapper:empty::before {
    display: none;
  }
}
