.approvals-pc-tracking-process-list-pane-detail-table-row-summary {
  display: flex;
  height: 30px;
  background-color: #f4f6f9;

  &__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  &__item--name {
    padding-left: 25px;
  }

  &__item:last-child {
    border-right: none;
  }

  &__item--label-summary {
    justify-content: flex-end;
    border-right: 1px solid $color-border-default;
    font-weight: bold;
    text-align: right;
  }

  &__item--work-time {
    justify-content: center;
    font-weight: bold;
  }
}
