.approvals-pc-tracking-process-list-pane-detail-table-row-task {
  display: flex;
  min-height: 30px;

  &__item {
    display: flex;
    min-height: 30px;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  &__item-comment {
    min-width: 0;
  }

  // nameだけpadding-leftを調整
  &__item--name {
    padding-left: 0;
    border-right: 1px solid $color-border-default;
  }

  &__item--work-time {
    font-weight: bold;
  }

  &__item:last-child {
    border-right: none;
  }

  &__item--work-time {
    justify-content: center;
  }

  &__task-name {
    position: relative;
    display: block;
    padding-left: 30px;
  }

  &__task-index {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 30px;
    text-align: center;
    transform: translateY(-50%);
  }

  &__tracking-graph {
    height: 13px;
  }

  &--is-ellipsis &__item,
  &--is-ellipsis &__task-name,
  &--is-ellipsis &__position-adjust {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--is-ellipsis br {
    display: none;
  }
}
