.common-tables-history-table {
  &__column-step {
    flex: 0 1 85px;
  }

  &__column-date {
    flex: 0 1 160px;
  }

  &__column-status {
    flex: 0 1 85px;
  }

  &__column-original-actor {
    flex: 0 1 100px;
  }

  &__column-actor {
    display: flex;
    flex: 0 1 150px;
    align-items: center;
    justify-content: center;
  }

  &__column-actor-icon {
    width: 35px;
    height: 35px;
    flex: 0 0 35px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__column-actor-name {
    flex: 1 1 auto;
    text-align: left;
  }

  &__column-actor-name-delegate {
    display: inline-block;
  }

  &__column-comment {
    flex: 1 1 300px;
  }

  &__body-cell--comment {
    text-align: left;
  }

  &__scrollable {
    max-height: 250px;
  }

  // cellに直接指定するのはコストが高いため、子孫セレクタを利用
  &--is-ellipsis &__cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
