@import 'mobile-global-imports.scss';

.mobile-app-pages-level-list {
  margin-top: 108px;

  &__input {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    padding: $extra-small-size;
    border-bottom: 1px solid $color-border;
    background: #fff;
  }

  &__label {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  &__item {
    min-height: 48px;
    padding: 0 $extra-small-size;
  }
}
