.ts-calendar-menu {
  &__wrap {
    position: absolute;
    z-index: 999;
    display: block;
    width: 180px;
    margin-top: 16px;
    background-color: #fff;
    color: #000;
    font-size: 12px;

    &.up {
      &::before {
        position: absolute;
        top: -24px;
        left: 10%;
        border: 12px solid transparent;
        border-bottom: 12px solid #99aec6;
        content: "";
      }

      &.right {
        right: 0;

        &::before {
          right: 0;
          left: initial;
          border-bottom: 12px solid #bfcddc;
        }
      }
    }

    &.down {
      &::after,
      &::before {
        position: absolute;
        bottom: -28px;
        left: 10%;
        border: 12px solid transparent;
        content: "";
      }

      &::before {
        margin-left: 0;
        border-width: 14px;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #d6d6d6;
      }

      &::after {
        margin-left: -1px;
        border-width: 15px;
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #fff;
      }

      &.right {
        right: 0;

        &::after,
        &::before {
          right: 0;
          left: initial;
        }

        &::before {
          margin-right: 1px;
        }

        &::after {
          margin-right: 0;
        }
      }
    }
  }

  &-none {
    display: none;
  }

  &__header {
    height: 30px;
    background: -webkit-gradient(linear, left center, right center, from(#99aec6), to(#bfcddc));
    background-color: #bfcddc;

    &__row {
      padding: 3px;
      color: #fff;

      img,
      span {
        align-self: center;
        vertical-align: middle;
      }
    }
  }

  &__body {
    border-right: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
    border-left: solid 1px #d6d6d6;

    &__title {
      color: #99aec6;
    }

    &__item {
      padding: 5px 0 5px 2px;
    }

    &__applications {
      padding: 12px;
    }

    &__separate {
      display: none;
      width: 88%;
      margin: 0 auto;
      border-bottom: solid 1px #d6d6d6;
    }

    &__others {
      padding: 12px;
    }

    &__others + &__separate {
      display: block;
    }

    &__separate:last-child {
      display: none;
    }
  }

  &__icon {
    &-close {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    &-baloon {
      margin-top: 4px;
    }

    &-question {
      width: 16px;
      vertical-align: sub;
    }
  }

  &__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
  }

  &__pointer {
    cursor: pointer;
  }
}
