.planner-pc-date-time-field {
  flex-basis: 174px;
}

.planner-pc-date-time-field--all-day {
  flex-basis: 100px;
}

.planner-pc-date-time-field__container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
