.ts-event-edit.slds {
  .ts-event-edit {
    &__overlay {
      position: fixed;
      z-index: 5000001;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0);
    }

    &__wrap {
      position: absolute;
      z-index: 5000001;
      display: block;
      width: 510px;
      margin-top: 16px;
      border-radius: 4px;
      box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
      color: #000;
      font-size: 12px;

      //
      // 吹き出し上下左右
      //
      &::before {
        position: absolute;
        top: -20px;
        left: 4%;
        border: 10px solid transparent;
        border-bottom: 10px solid #90aec8;
        content: "";
      }

      &::after {
        position: absolute;
        top: -21px;
        left: calc(4% - 2px);
        border: 12px solid transparent;
        border-bottom: 12px solid #fff;
        content: "";
      }

      &.right::before {
        right: 4%;
        left: initial;
      }

      &.right::after {
        right: calc(4% - 2px);
        left: initial;
      }

      &.down::before {
        position: absolute;
        top: initial;
        bottom: -20px;
        left: 4%;
        border: 10px solid transparent;
        border-top: 10px solid #90aec8;
      }

      &.down::after {
        position: absolute;
        top: initial;
        bottom: -21px;
        left: calc(4% - 2px);
        border: 12px solid transparent;
        border-top: 12px solid #f4f6f9;
        content: "";
      }

      &.down {
        &.right {
          &::after,
          &::before {
            right: 4%;
            left: initial;
          }

          &::after {
            right: calc(4% - 2px);
            left: initial;
          }
        }
      }
    }

    &__inner {
      border: 1px solid #90aec8;
      border-radius: 4px;
    }

    &__header-wrap {
      padding: 5px;
    }

    &__header {
      position: relative;
      padding: 5px 10px;
      background-color: #d9d9e8;
      border-radius: 3px;
    }

    &__header-close {
      position: absolute;
      top: 8px;
      right: 5px;
    }

    &__header-row {
      display: flex;
      align-items: center;
    }

    &__header-row--top {
      margin-bottom: 5px;
    }

    &__header-row-label {
      position: relative;
      flex-basis: 40px;
      color: $color-text-modest;
    }

    &__header-row-label::after {
      position: absolute;
      right: 2px;
      content: ':';
    }

    &__header-input.slds-input {
      min-height: 26px;
      flex-basis: 375px;
      padding-right: 0.75em;
      line-height: 26px;
    }

    &__header-date-wrap {
      display: flex;
      flex-basis: 375px;
    }

    &__header-input--date.slds-input {
      width: 100px;
    }

    // TimePicker で作られる外側の DIV タグ
    &__header-input--time.slds-input {
      width: 70px;
      padding: 0;
      margin-left: 3px;

      .slds-input {
        height: 26px;
        min-height: 26px;
        border: none;
      }
    }

    &__header-date-separate {
      flex-basis: 28px;
      line-height: 28px;
      text-align: center;
    }

    &__header-icon-link {
      margin-left: 5px;
    }

    &__header-allday {
      padding-left: 5px;
    }

    &__header-allday-input {
      margin-right: 2px;
    }

    &-none {
      display: none;
    }

    &__content-wrap {
      padding-right: 15px;
      padding-left: 15px;
    }

    &__event-outing {
      display: flex;
      align-items: center;
    }

    &__event-outing-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 2px;
    }

    &__body {
      background-color: #fff;

      &__tab {
        padding: 12px;
        padding-top: 8px;

        &__row {
          border-bottom: solid 1px #d0d0d0;

          & > div {
            padding-right: 20px;
            padding-left: 20px;
            cursor: pointer;
          }
        }

        &__menu {
          color: #ccc;
          font-size: 15px;
          text-align: center;

          &.active {
            border-bottom: solid 2px #2782ed;
            color: #000;
          }

          &-icon {
            display: inline-block;
            padding-right: 10px;
            margin-bottom: 4px;
          }

          &-title {
            display: inline-block;
            margin-bottom: 4px;
            font-size: 13px;
          }

          &.disabled {
            color: #e7e7e9;
            cursor: default;
          }
        }
      }

      &__preapprovals {
        height: 230px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;

        &__title {
          padding: 2px;
          color: #888;
          font-size: 13px;
        }

        &__table {
          overflow: auto;
          max-height: 176px;
          margin-top: 4px;
          border: solid 1px #d0d0d0;

          & tr {
            border-bottom: solid 1px #d0d0d0;
          }

          & tr:last-child {
            border: none;
          }

          & td {
            height: 35px;
            padding: 8px 18px;
          }

          & td.type {
            width: 100px;
            color: #3580bc;
            font-size: 12px;
          }
        }
      }

      &__attendance {
        height: 230px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;

        &__title {
          padding: 2px;
          color: #888;
          font-size: 13px;
        }

        &__table {
          overflow: auto;
          max-height: 176px;
          margin-top: 4px;
          border: solid 1px #d0d0d0;

          & tr {
            border-bottom: solid 1px #d0d0d0;
          }

          & tr:last-child {
            border: none;
          }

          & td {
            height: 35px;
            padding: 8px 18px;
          }

          & td.status {
            width: 42px;
            text-align: center;
          }

          & td.type {
            width: 100px;
            color: #3580bc;
            font-size: 12px;
          }

          & td.detail {
            padding-left: 0;
            font-size: 12px;
          }
        }
      }

      &__expenses {
        height: 230px;
        padding-bottom: 12px;

        &__wrap {
          padding-right: 24px;
          padding-left: 24px;
        }

        &__pull-right {
          float: right;
        }

        &__header__wrap {
          padding: 0 12px;
        }

        &__header {
          position: relative;
          display: table;
          width: 100%;
          padding: 8px;
          margin-bottom: 6px;
          background-color: #f3f4f8;
          font-size: 12px;

          &__tag {
            display: table-cell;
            width: 110px;
            padding: 2px 8px;
            background-color: #66c;
            border-radius: 20px;
            color: #fff;
            font-size: 12px;

            & > div {
              display: inline-block;
              vertical-align: middle;
            }

            & > img {
              width: 20px;
            }
          }

          &__title {
            display: table-cell;
            padding-left: 8px;
            color: #888;
            vertical-align: middle;

            & .value {
              color: #3580bc;
              text-decoration: underline;
            }
          }

          &__total {
            display: table-cell;
            color: #888;
            text-align: right;
            vertical-align: middle;
            white-space: nowrap;

            & .value {
              color: #000;
            }
          }
        }

        &__title {
          display: inline-block;
          padding: 2px;
          color: #888;
          font-size: 13px;
        }

        &__table {
          overflow: auto;
          max-height: 128px;
          margin-top: 4px;
          border: solid 1px #d0d0d0;

          & tr {
            border-bottom: solid 1px #d0d0d0;
          }

          & tr:last-child {
            border: none;
          }

          & td {
            height: 35px;
            padding: 8px 18px;
          }

          & td.type {
            color: #3580bc;
            font-size: 12px;
          }
        }
      }

      &__input {
        overflow: auto;
        height: 230px;
        box-sizing: content-box;
        padding: 0 22px 0 30px;

        &__row {
          margin-bottom: 4px;

          & > div {
            position: relative;
          }

          &-none {
            display: none;
          }
        }

        & .separate {
          position: absolute;
          right: 0;
          display: inline-block;
          color: #000;
          vertical-align: middle;
        }

        & .key {
          display: inline-block;
          overflow: hidden;
          width: 90%;
          color: #888;
          font-size: 12px;
          text-overflow: ellipsis;
          vertical-align: middle;
          white-space: nowrap;
        }

        & .value {
          position: relative;
          padding-left: 6px;
          color: #000;
          font-size: 13px;
          vertical-align: middle;

          & > input,
          & > select {
            display: inline-block;
            width: 100%;
            height: 28px;
            padding-right: 8px;
            padding-left: 8px;
            border: 1px solid #d8dde6;
            background-color: white;
            border-radius: 0.25rem;
            color: #000;
            font-size: 13px;
            transition: border 0.1s linear, background-color 0.1s linear;

            &[type=checkbox] {
              width: 16px;
            }
          }

          & > textarea {
            display: inline-block;
            width: 100%;
            padding-right: 8px;
            padding-left: 8px;
            border: 1px solid #d8dde6;
            background-color: white;
            border-radius: 0.25rem;
            color: #000;
            font-size: 13px;
            transition: border 0.1s linear, background-color 0.1s linear;
          }
        }

        & .search {
          & > button {
            width: 32px;
            height: 28px;
            margin-left: 4px;
            border: solid 1px #d0d0d0;
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;

            &.disable {
              background-color: #f5f5f5;
              cursor: default;
            }
          }
        }

        & .files {
          position: absolute;
          top: 3px;
          left: 10px;

          & > .file {
            display: inline-block;
            height: 22px;
            padding: 4px;
            background-color: #e0e7f7;
            border-radius: 4px;

            & > div {
              display: inline-block;
              padding-left: 2px;
              margin-top: -6px;
              font-size: 13px;
              vertical-align: middle;
            }

            & > img {
              width: 16px;
              margin-top: -6px;
              margin-left: 6px;
              transform: rotate(-45deg);
            }
          }

          & > .plus {
            display: inline-block;
            width: 22px;
            height: 22px;
            vertical-align: sub;
          }
        }
      }
    }

    &__iconarea {
      position: absolute;
      bottom: 0;
    }

    &__icon {
      width: 20px;

      &-error {
        width: 19px;
      }

      &-menu {
        position: absolute;
        right: 0;
        width: 22px;
      }

      &-baloon {
        margin-top: 4px;
      }

      &-question {
        width: 16px;
        vertical-align: sub;
      }

      &-request {
        width: 18px;
        vertical-align: sub;
      }
    }

    &__footer {
      position: relative;
      height: 40px;
      padding-top: 7px;
      padding-right: 16px;
      padding-left: 8px;
      background-color: #f4f6f9;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      & .right {
        text-align: right;
      }

      & button {
        width: 86px;
        height: 26px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 13px;

        &.delete {
          border: solid 1px #d66767;
          background-color: #d66767;
          color: #fff;
        }

        &.cancel {
          border: solid 1px #d0d0d0;
          background-color: #fff;
          color: #888;
        }

        &.save {
          border: solid 1px #2782ed;
          background-color: #2782ed;
          color: #fff;
        }
      }
    }
  }

  .text-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
