.ts-container {
  min-width: 1024px;
}

.ts-calendar__header {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;

  &__personal-setting-button {
    margin-right: 20px;
  }
}

.slds-col {
  align-self: center;
  vertical-align: middle;
}

.ts-calendar-symbols.slds {
  height: 20px;
  padding: 0 5px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  background-color: #f4f6f9;

  .slds-grid {
    height: 14px;
  }

  .ts-calendar-symbols {
    &__label {
      margin-left: 5px;
      font-size: 8px;
    }

    &__icon {
      height: 8px;
      widows: 8px;
    }
  }
}

.ts-calendar-footer.slds {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 980px;
  padding: 18px;
  border-top: solid 1px #d6d6d6;
  background-color: #ebeef3;

  .ts-calendar-footer {
    &__title {
      width: 100px;
      color: #0059a7;
    }

    &__value {
      margin-right: 40px;
      margin-left: 8px;
    }
  }
}

.planner-pc-planner {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;

  &__calendar {
    position: relative;
    height: calc(100% - 106px);

    &__header {
      margin: 20px 0 12px 20px;
    }

    &__header.is-narrow {
      margin-top: 12px;
    }
  }
}
