.approvals-pc-list-parts-tool-bar {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;

  &__count:first-child {
    width: 100%;
    text-align: right;
  }
}
