@import '../../../../../styles/variables/colors';

.ts-expenses__form-report-summary__form {
  margin-top: 22px;

  // section divider
  > .slds-grid {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  > .slds-grid:not(:last-child) {
    border-bottom: 1px solid $color-border-default;
  }

  .slds-col {
    padding-right: 10px;
  }

  &__vendor__vendor-input-field,
  &__cost-center-input-field,
  &__job-input-field {
    padding-bottom: 4px;
    word-wrap: break-word;

    &-name {
      word-wrap: break-word;
    }
  }

  &__vendor__btn-clear,
  &__job-input-btn--clear,
  &__ei-lookup-input-btn--clear,
  &__cost-center-input-btn--clear {
    display: inline-flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    background-color: #afadab;

    svg {
      width: 8px !important;
      height: 8px !important;
      fill: #fff !important;
    }
  }

  &__vendor-btn--select,
  &__job-input-btn--search,
  &__ei-lookup-btn--search,
  &__cost-center-input-btn--search {
    height: 32px;
    padding: 1px 27px;

    &:disabled {
      background-color: #f5f6f7;
    }
  }

  .date-input {
    height: 28px;
    padding: 3px 4px;
    margin-left: 6px;
    border: 1px solid #d0d0d0;
  }

  .date-input-label {
    margin-left: 6px;
    color: #216cae;
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  &__report-type-label-area {
    display: -webkit-box;
  }

  &__report-type-info {
    height: 13px;
    padding-left: 10px;
    vertical-align: middle;
  }

  &__report-type-input[disabled] {
    pointer-events: none;
  }
}
