.admin-pc-detail-pane-expense-type-grid {
  .react-grid-Canvas .react-grid-Row {
    cursor: pointer;
  }

  &__editAction {
    width: 74px;
    float: right;
    font-weight: bold;
  }

  &__removeButton {
    margin-top: 6px;
  }

  .react-grid-checkbox {
    width: 16px;
    height: 16px;
  }

  .react-grid-Cell__value > div > span > div {
    overflow: hidden;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .widget-HeaderCell__value {
    font-weight: bold;
  }

  .react-grid-Cell--locked {
    border-right: none !important;
  }

  .react-grid-HeaderCell {
    border-right: none;
  }
}

.admin-pc-detail-pane-expense-type-grid__dataGrid-disabled {
  .react-grid-Cell,
  .react-grid-Row,
  .react-grid-HeaderCell,
  .react-grid-HeaderRow,
  .react-grid-Canvas {
    background-color: #eee;
  }

  .react-grid-Row {
    pointer-events: none;
  }

  .widget-HeaderCell__value {
    font-weight: bold;
  }

  input.react-grid-checkbox::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    border: 1px solid #dddbda;
    background-color: #eee;
    border-radius: 4px;
    content: '\00a0';
    vertical-align: top;
  }

  .react-grid-Cell--locked {
    border-right: none !important;
  }

  .react-grid-HeaderCell {
    border-right: none;
  }
}
