.ts-calendar-monthly-day {
  &__icons {
    position: absolute;
    top: 3px;
    right: 0;
    display: inline-block;
    padding-right: 3px;
    margin: 0 3px 0 0;
    background-color: #fff;
  }

  &__icons--allday {
    position: static;
    display: inline;
  }

  &__icons:empty {
    display: none;
  }

  .sunday &__icons,
  .saturday &__icons {
    background-color: #efeff1;
  }

  &__icons--allday {
    background-color: transparent;
  }
}

.ts-calendar-monthly-day__detail {
  position: relative;

  &__icon {
    height: auto;
    margin-left: 2px;
    vertical-align: middle;
  }

  &__icon--outing {
    width: 16px;
  }
}
