.ts-calendar-monthly {
  &-week {
    position: relative;
    height: 150px;
    border-top: solid 1px #d6d6d6;
  }

  &__table__week-box {
    width: 100%;
    height: 150px;
    border-bottom: solid 1px #d0d0d0;
    border-collapse: collapse;
    table-layout: fixed;
  }
}
