.commons-personal-setting-dialog {
  &__body {
    width: 800px;
    height: 400px;
  }

  &__body-form {
    width: 100%;
    height: 100%;
    background: $color-blue-e7;
  }

  // Menu Pane
  // ---------

  &__menu-pane {
    width: 200px;
    min-width: 200px;
  }

  &__menu-item {
    width: 100%;
    padding: 8px 16px;
    border: 0;
    background: $color-bg-lighter;
    border-radius: 0;
    text-align: inherit;

    &--inactive:hover {
      background: $color-bg-hover;
    }

    &--active {
      background: $color-bg-active;
    }
  }

  // Form Pane
  // ---------

  &__form-pane {
    padding: 16px;
    background: $color-blue-e7;
  }

  &__form {
    height: 100%;
  }

  &__form-inner {
    height: 100%;
  }

  &__button-container {
    margin: 32px 0 0;
  }

  &__save-button {
    min-width: 90px;
  }

  // Time Tracking
  // -------------

  &__select-default-job-button {
    min-width: 64px;
  }

  // Message telling no setting available
  // -------------

  &__message {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: $color-blue-e7;
    color: #53688c;
    font-size: 24px;
    text-align: center;
  }
}
