.commons-personal-setting-dialog-time-tracking-form-pane {
  padding: 20px;
  background: $color-blue-e7;

  &__form {
    height: 100%;
  }

  &__form-inner {
    height: 100%;
  }

  &__button-container {
    margin: 32px 0 0;
  }

  &__label {
    color: #53688c;
  }

  &__save-button {
    min-width: 90px;
  }

  &__select-default-job-button {
    min-width: 64px;
  }

  &__default-job {
    display: flex;
    align-items: center;
    margin: 16px 0 0 0;
  }

  &__default-job-select-button-container {
    margin: 8px 0 0 0;
  }

  &__default-job-reset-button-container {
    margin: 0 0 0 8px;
  }

  &__default-job-reset-button {
    width: 16px;
    height: 16px;
  }
}
