@import 'mobile-global-imports.scss';

.mobile-app-molecules-expense-jorudan-chips {
  display: flex;
  color: $color-text-reverse;

  &--vertical-row {
    flex-direction: column;
  }

  &__cheap,
  &__easy,
  &__fast,
  &__ex {
    margin-left: $base-size;
  }

  &__chip--vertical-row {
    margin-left: 0;
  }

  &__chip:first-child {
    margin-left: 0;
  }

  &__cheap {
    background-color: $color-blue-600;
  }

  &__easy,
  &__fast {
    background-color: $color-green-600;
  }

  &__ex {
    background-color: $color-blue-800;
  }
}
