@import 'mobile-global-imports.scss';

.mobile-app-molecules-expense-record-summary {
  width: 100%;
  padding-top: $base-size;
  padding-bottom: $base-size;
  font-size: $medium-size;

  &__subject {
    width: 100%;
    text-align: left;

    &__transit-proof {
      display: inline-flex;
      width: $small-size;
      height: $small-size;
      margin-left: 8px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    color: $color-gray-600;
    font-size: $small-size;
    text-align: center;
  }

  &__route-from-to {
    margin-right: 8px;
  }

  &__bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    &__date {
      display: flex;
      align-items: center;
      align-self: flex-end;
      color: $color-blue-800;
      font-size: $small-size;
      line-height: 0;
    }

    &__date-icon {
      margin-right: 4px;
    }

    &__amount {
      text-align: right;
    }
  }
}
