@import 'mobile-global-imports.scss';

.mobile-app-molecules-search-station-field {
  .mobile-app-atoms-label__control {
    position: relative;
    display: flex;
  }

  .mobile-app-atoms-input--disabled {
    background-color: $color-gray-200;
  }

  .mobile-app-atoms-icon-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 0 5px 5px 0;
  }

  &__suggest {
    position: relative;
  }
}

.ts-suggest-result {
  position: absolute;
  z-index: 2;
  top: 18px;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  border: 1px solid $color-gray-300;
  background: #f5f5f5;
  border-radius: 4px;

  &__title {
    width: 40px;
    box-sizing: border-box;
    padding: 3px;
    margin-top: -1px;
    border-top: 1px solid #e0e0e0;
    color: #888;
    float: left;
    font-size: 11px;
    text-align: center;
  }

  &__value {
    display: block;
    min-height: 28px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: -1px 0 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.4;
  }

  &__list {
    width: calc(100% - 40px);
    background: #fff;
    float: left;
  }
}
