.time-tracking-control {
  width: 905px;

  &__info {
    padding: 20px 5px 10px 30px;

    .ts-horizontal-layout + .ts-horizontal-layout {
      margin-top: 20px;
    }
  }

  &__info-graph {
    width: 235px;
    height: 23px;
    border-radius: 4px;

    > rect {
      height: 23px;
    }
  }

  &__info-report {
    align-items: flex-start;
  }

  &__info-graph-time-text {
    display: inline-block;
    margin-left: 25px;
    color: #007aff;
  }

  &__info-action {
    margin-top: 25px;
  }

  &__info-action-button {
    line-height: 24px;
  }
}
