.time-tracking-control-search-job {
  display: inline-flex;
  width: 450px;
  height: 38px;
  align-items: center;
  padding-left: 15px;
  margin-left: 20px;
  border: 1px solid #bdbdae;
  background-color: #f6f6f1;
  border-radius: 4px;

  &__frequency {
    width: 210px;
    height: 27px;
    margin-right: 15px;
    line-height: 25px;
  }

  &__search-container {
    position: relative;
    display: inline-flex;
    height: 27px;
  }

  &__serach-icon {
    position: absolute;
    top: 3px;
    left: 7px;
  }

  &__search.slds-input {
    width: 195px;
    height: 27px;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 16px;
    line-height: 25px;
  }
}
