.time-tracking-control-table-graph-scale {
  font-size: 10px;

  &__head-big,
  &__head {
    margin-right: 16px;
    line-height: 1;
  }

  &__head-big:last-child {
    margin-right: 0;
  }

  &__head-big {
    font-size: 1.4em;
  }
}
