.time-tracking-control-table {
  color: #3a3a3a !important;
  font-size: 12px;
  font-weight: normal !important;

  td,
  th {
    text-align: center;
  }

  th {
    color: #858593 !important;
  }

  &__head-row {
    height: 35px;
    border-top: 1px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
    background-color: #f4f6f9;
    vertical-align: middle;

    > th {
      font-weight: normal;
    }
  }

  &__body-row {
    height: 50px;
    border-bottom: 1px solid #d8dde6;

    td {
      vertical-align: middle;
    }
  }

  &__col--checkbox,
  &__col--number {
    width: 35px;
  }

  &__col--task {
    width: 205px;
    text-align: left;
  }

  &__body-row &__col--task {
    text-align: left;
  }

  &__col--graph {
    width: 260px;
    vertical-align: bottom;
  }

  &__col--time {
    width: 85px;
    padding-right: 5px;
    padding-left: 5px;
  }

  &__col--way {
    width: 85px;
  }

  &__col--remarks {
    padding-right: 5px;
    padding-left: 5px;
  }

  &__foot {
    height: 52px;
    vertical-align: middle;

    > td {
      padding-left: 10px;
      text-align: left;
    }
  }
}
