.commons-dialogs-daily-summary-dialog-summary-tracking-header {
  display: flex;
  height: 30px;
  align-items: center;
  border-bottom: 1px solid $color-border-default;
  background-color: $color-bg-heading;
  color: $color-text-modest;
  // リストとの横のレイアウトを揃えるため
  overflow-y: scroll;

  &__head--number {
    flex: 0 0 45px;
    text-align: center;
  }

  &__head--task {
    flex: 1 1 auto;
  }

  &__head--charge {
    flex: 0 0 40px;
    text-align: center;
  }

  &__head--graph {
    display: flex;
    height: 100%;
    flex: 0 0 216px;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 8px;
  }

  &__scale {
    flex: 0 0 16px;
    text-align: center;
  }

  &__scale--big {
    font-size: $font-size-default;
  }

  &__head--time {
    flex: 0 0 170px;
    padding-left: 20px;
  }
}
