.commons-dialogs-daily-summary-dialog-summary-tracking {
  &__buttons {
    margin-bottom: 5px;
    text-align: left;
  }

  &__list {
    position: relative;
    border: 1px solid $color-border-default;
  }

  // リストヘッダーのスクロールバーをマスクする
  &__list::after {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 20px;
    height: 29px;
    background-color: $color-bg-heading;
    content: '';
  }

  &__items {
    // 5行分はスクロールしない
    max-height: 364px;
    overflow-y: scroll;
  }
}
