.commons-dialogs-daily-summary-dialog-summary-tracking-item {
  $this: &;

  background: $color-bg-list-item;

  .commons-reorderble-list-item + .commons-reorderble-list-item > & {
    border-top: 1px solid $color-border-default;
  }

  .commons-reorderble-list--dragging & {
    margin-top: -1px;
    border-top: 1px solid $color-border-default;
    border-bottom: 1px solid $color-border-default;
  }

  .commons-reorderble-list--dragging > *:last-child & {
    margin-bottom: -1px;
  }

  &.commons-reorderble-list-item__draggable--dragging {
    border: 1px solid $color-border-default;
  }

  &__inner {
    display: flex;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  // inputやselectboxなど統一して
  &__input.slds-input {
    min-height: auto;
    line-height: 23px;
  }

  &__input.slds-select {
    height: 25px;
  }

  &__drag-handle {
    flex: 0 0 10px;
  }

  &__drag-handle-bar {
    width: 5px;
    height: 100%;
    margin-left: 5px;
    background-image: url('../../../../../images/bgDraggable.png');
    cursor: move;

    #{$this}--locked & {
      visibility: hidden;
    }
  }

  &__number {
    flex: 0 0 35px;
    text-align: center;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__contents {
    flex: 1 1 auto;
  }

  &__contents-row {
    display: flex;
    align-items: center;
  }

  &__task {
    width: 300px;
    min-width: 0;
  }

  &__task-id,
  &__task-name {
    display: block;
    overflow: hidden;
    line-height: 1.5em;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
  }

  &__task-id {
    margin: 0 12px 0 0;
    color: $color-text-weak;
    font-size: $font-size-small;
  }

  &__task-default-job-indicator {
    padding: 1px 6px;
    border: 1px solid $color-text-modest;
    border-radius: 4px;
    color: $color-text-modest;
    font-size: $font-size-x-small;
  }

  &__task-name {
    width: 100%;
  }

  &__work-category {
    width: 100%;
  }

  // TODO Remove this
  &__spacer {
    flex: 1;
  }

  &__charge {
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    justify-content: center;
  }

  &__graph {
    display: flex;
    flex: 0 0 216px;
    align-items: center;
    justify-content: center;
  }

  &__time-input {
    flex: 0 0 75px;
    text-align: center;
  }

  &__time-input-field {
    text-align: center;
  }

  &__time-input-field.slds-input.slds-input_bare {
    display: inline-block;
    width: 6.25em;
    border: 1px solid transparent;
  }

  &__tools {
    display: flex;
    flex: 0 0 85px;
    justify-content: space-between;
    padding-left: 5px;
  }

  &__remark {
    flex: 1 1 auto;
  }
}
