.commons-dialogs-daily-summary-dialog-summary-tracking-list-summary-graph {
  &__graph {
    width: 165px;
    height: 15px;
    margin-right: 10px;
    background-color: #dcdcd6;
    border-radius: 4px;
  }

  &__actual {
    color: $color-text-emphasis;
  }
}
