@import 'mobile-global-imports.scss';

.mobile-app-organisms-approval-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 58px;
  padding: $extra-small-size;
  border-top: 2px solid $color-border;
  background: #fff;

  &__item {
    width: 50%;
    text-align: center;
  }

  .mobile-app-atoms-button {
    padding: 0;
  }
}
