@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-page-route-form {
  .main-content {
    padding: 48px $small-size;
  }

  &__search-button {
    margin-top: 16px;
    text-align: center;
  }

  &__via-station {
    position: relative;
    margin: 8px 0;
  }

  &__via .mobile-app-atoms-label__control {
    width: calc(100% - 40px);
  }

  &__via-delete {
    position: absolute;
    top: 35px;
    right: 0;
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
}
