.commons-popups-event-list-popup-event-item {
  display: flex;
  width: 100%;
  height: 20px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px 0 10px;
  background-color: #97d4d3;
  color: #000;
  cursor: pointer;
  font-size: $font-size-small;

  &.hyperlink {
    padding: 0 2px 0 6px;
    border-left: 4px solid #02b7c2;
  }

  &__title {
    overflow: hidden;
    width: 100%;
    height: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    line-height: 0;
  }
}
