.commons-popups-event-list-popup {
  position: absolute;
  z-index: 5000000;

  &__title {
    // Align right
    display: flex;
    height: 30px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    background: -webkit-gradient(linear, left center, right center, from(#99aec6), to(#bfcddc));
    background-color: #bfcddc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    // Title style
    color: #fff;
  }

  &__close-icon {
    margin: 0 8px 0 10px;
  }

  &__event-item {
    margin: 0 0 2px 0;
  }

  &__body {
    height: 200px;
    padding: 8px;
    border: 1px solid #90aec8;
    border-top: none;
    overflow-y: auto;
  }

  &__overlay {
    position: fixed;
    z-index: 5200000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
  }

  &__wrap {
    left: 100px;
    display: block;
    width: 250px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
    color: #000;
    font-size: 12px;
  }
}
