.approvals-pc-expenses-request-pane-detail__records-area {
  margin: 0 15px;

  &__hr {
    height: 2px;
    border: none;
    border-top: dashed 2px #dedfdf;
    color: #fff;
  }

  &__hr--top {
    margin: 0 0 15px;
  }

  &__hr--bottom {
    margin: 25px 0;
  }

  &-button-area {
    margin-bottom: 15px;

    & > button {
      margin-right: 15px;
    }
  }

  &-title {
    margin-left: 43px;

    & > div {
      display: inline-block;
    }

    &-date {
      width: 25%;
    }

    &-exp-type {
      width: 25%;
    }

    &-record-type {
      width: 25%;
    }

    &-amount {
      width: 25%;
    }
  }

  &-record {
    margin-bottom: 5px;
    background-color: #46b93d;

    &-contents-hr {
      padding: 10px 0;
      margin: 0 0 0 7px;
      border-right: 1px solid #d8dde6;
      border-left: 1px solid #d8dde6;
      background: #fff;

      hr {
        width: 97%;
        margin: 0 auto;
        border-top: 1px solid #d8dde6;
      }
    }
  }
}
