.approvals-pc-expenses-request-pane-detail__records-area-record__header {
  display: -webkit-flex;
  display: flex;
  height: 40px;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 3px;
  margin-left: 7px;
  border: 1px solid #d8dde6;
  background-color: #fff;

  &--is-open {
    border-bottom: 0;
  }

  &__toggle {
    margin-right: 10px;
    line-height: 22px;

    & img {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transition: -webkit-transform 0.25s ease;
      transition: transform 0.25s ease;
      transition: transform 0.25s ease, -webkit-transform 0.25s ease;
    }

    &--is-open img {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  &-exp-type,
  &-record-type,
  &-amount {
    font-weight: bold;
  }

  &-date {
    width: 33%;
    text-align: left;
  }

  &-exp-type {
    overflow: hidden;
    width: 33%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-amount {
    width: 33%;
    font-size: 16px;
    text-align: center;
  }
}
