.approvals-pc-expenses-request-pane-detail__records-area__title {
  margin-bottom: 3px;
  margin-left: 43px;

  & > div {
    display: inline-block;
    color: #92939a;
    text-align: left;
  }

  &-date {
    width: 33%;
  }

  &-exp-type {
    width: 33%;
  }

  &-amount {
    width: 33%;
  }
}
