.timesheet-pc-main-content-timesheet-daily-summary-button {
  position: relative;
  display: flex;
  width: 64px;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0 14px 0 0;

  &:hover {
    cursor: pointer;
  }

  &__tooltip-container {
    display: flex;
    width: 65px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    outline: none;
  }

  &__tooltip-container:hover {
    text-decoration: underline;
  }

  &__mark {
    width: 14px;
    align-self: center;
    padding: 0 8px 0 0;
    justify-self: flex-start;
  }

  &__mark &__alert {
    $r: 6px;

    width: $r;
    height: $r;
    border: 1px $color-destructive solid;
    background: $color-destructive;
    border-radius: 50%;
  }

  &__alert {
    color: $color-destructive;
  }

  &__ok {
    color: #006dcc;
  }

  &__content {
    width: 36px;
  }

  &__total-task-time {
    font-size: 13px;
  }

  &__button {
    padding: 0;
    border: none;
    background: none;
  }

  &__icon {
    max-width: 22px;
    max-height: 22px;
  }
}
