@import '../../../../styles/variables/colors';

.ts-expenses__form-report-summary {
  min-height: 86px;
  padding: 20px 16px;
  background-color: $color-bg-pane-third;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 0;
  }

  // adding important to override textarea styles in SF env
  &__header-input {
    max-width: calc(100% - 500px);
    padding: 0 !important;
    margin-right: 20px;
    border: none !important;
    border-bottom: 1px solid $color-border-default !important;
    background: none !important;
    line-height: 1.2 !important;

    &:disabled {
      background-color: transparent !important;
    }

    &:focus {
      border: none;
      border-bottom: 1px solid $color-border-default;
      background: none;
      box-shadow: none !important;
      outline: none !important;
    }

    &::placeholder,
    &::-webkit-input-placeholder {
      color: #999;
      font-size: 24px;
    }
  }

  &__header-amount {
    color: #999;

    &-active {
      color: black;
    }
  }

  &__toggle {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 24px;

    button {
      display: inline-flex;
      justify-content: center;
      margin-right: 12px;
      background-color: $color-bg-pane-first;

      svg.mobile-app-atoms-icon {
        fill: $ts-button-default-color !important;
      }

      &:disabled {
        cursor: not-allowed;
      }

      @at-root {
        .planner-day-main-plan-tracking-table-row__btn-draggable#{&} {
          cursor: move;
        }
      }
    }

    span {
      margin-left: 5px;
    }

    .input-feedback {
      flex-basis: 100%;
      margin-left: 45px;
      font-size: 13px;
    }

    &--open {
      transform: rotate(180deg);
    }
  }

  &__actions {
    min-width: 270px;
  }
}
