.ts-expenses-switch-approver-table {
  border: 1px solid #d8dde6;

  &__column {
    &-emp-photo-url {
      display: flex;
      flex: 0 1 8%;
      justify-content: center;
    }

    &-emp-name,
    &-emp-code,
    &-dep-name,
    &-dep-code,
    &-title {
      flex: 0 1 18%;
    }
  }

  &__icon {
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__scrollable {
    max-height: 250px;
  }

  &__count {
    position: absolute;
    display: flex;
    min-width: 15px;
    justify-content: center;
    margin-left: 12px;
    background-color: #d93600;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    line-height: 15px;
  }
}
