@import 'mobile-global-imports.scss';

.mobile-app-pages-expense-page-report-edit {
  .main-content {
    padding: 48px $small-size;
  }

  &__amount-text {
    color: $color-blue-800;
    font-size: $medium-size;
    font-weight: bold;
    text-align: right;
  }

  &__input {
    // needed to hide the first select option for accounting period.
    .option-hidden option:first-child {
      display: none;
    }
  }
}
