// @import '../../../commons/styles/variables/colors';

.ts-finance-approval__search-area {
  &-search-button {
    width: 100px;
    height: 32px;
    margin-right: 10px;
    margin-left: 10px;
  }

  &-condition-save-button {
    height: 32px;
    margin-right: 10px;
    margin-left: 10px;
  }

  &-condition-delete-button {
    height: 32px;
    margin-left: 10px;
  }

  .slds-button--icon-border-filled {
    width: 100%;
    padding-left: 10px;
  }

  .commons-fields-dropdown-custom {
    display: inline-block;
    margin: 10px;
  }

  .commons-fields-dropdown-custom__value {
    height: 32px;
    padding: 5px;
  }
}
