@import 'mobile-global-imports.scss';

.mobile-app-molecules-approval-exp-report-summary {
  display: flex;

  &__person {
    width: 50px;
  }

  &__detail {
    width: calc(100% - 50px);
  }

  &__subject {
    text-align: left;
  }

  &__name {
    display: flex;
    font-size: $small-size;
    line-height: 1;
  }

  &__bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;

    &__date {
      display: flex;
      align-items: center;
      align-self: flex-end;
      color: $color-blue-800;
      font-size: $small-size;
      line-height: 0;
    }

    &__date-title {
      margin-right: $base-size;
    }

    &__amount {
      display: flex;
      align-items: center;
      line-height: 0;
      text-align: right;
    }
  }
}
