.expenses-pc-print-print-report-content {
  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  &__element {
    display: flex;
    align-items: flex-start;
  }

  &__label {
    width: 200px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
  }

  &__value {
    width: 740px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
