.timesheet-pc-attendance-summary {
  th {
    padding-left: 28px;
    color: #54698d;
    font-weight: normal;
    text-align: left;
  }

  th:first-child,
  th:nth-of-type(5) {
    padding-left: 0;
  }

  td {
    padding-left: 7px;
  }

  @media screen and (max-width: 1162px) {
    font-size: 12px;

    td {
      padding-left: 4px;
    }
  }

  @media screen and (max-width: 1062px) {
    th {
      padding-left: 7px;
    }
  }
}
