.timesheet-pc-employee {
  display: inline-block;

  strong {
    margin: 0 15px;
  }

  &__working-type-name {
    display: inline-block;
    margin-left: 140px - 15px;

    dl,
    dt,
    dd {
      display: inline-block;
    }
  }
}
