.planner-day-main-plan-collapse {
  & + & {
    margin-top: 40px;
  }

  &__children {
    padding-top: 20px;
  }

  &__header {
    position: relative;
    z-index: 0;
  }

  &__header::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 29px;
    width: calc(100% - 29px);
    height: 4px;
    margin-top: -2px;
    background-color: #d8dde6;
    content: '';
  }

  &__header-button {
    margin-right: 10px;
  }

  &__header-anchor {
    display: inline-block;
    padding-right: 10px;
    background-color: #fff;
    color: #52525f;
    text-decoration: none;
  }

  &__summary {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding-left: 10px;
    background-color: #fff;
  }

  // ReactCSSTransitionGroup
  &-enter {
    opacity: 0.01;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }

  &-leave {
    opacity: 1;
  }

  &-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-out;
  }
}
