.planner-day-main-plan-exp-record-list {
  &__item {
    flex-basis: 90px;
  }

  &__content {
    flex-grow: 1;
  }

  &__amount {
    flex-basis: 80px;
    color: #00f;
    text-align: center;
  }
}
