.planner-day-main-plan {
  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
  }

  &__footer-button {
    min-width: 90px;
    margin: 0 0 0 8px;
  }

  &__save-and-record-end-timestamp-button {
    min-width: 128px;
    border: 2px solid $color-text-emphasis;
    font-weight: bold;
  }

  &__footer-button-icon {
    position: relative;
  }
}
