.planner-day-main-plan-list {
  padding: 5px;
  border: 1px solid #ececfb;
  background-color: #f8f8f8;
  border-radius: 4px;

  &__summary {
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 1.1666em;
    text-align: right;
  }

  &__summary-title {
    position: relative;
    display: inline-block;
  }

  &__summary-title::after {
    display: inline-block;
    padding: 0 5px;
    padding-left: 10px;
    content: ':';
  }

  &__summary-value {
    display: inline-block;
    padding: 0 10px;
    color: #00f;
  }

  &__items {
    min-height: 25px;
    border: 1px solid #d8dde6;
    background-color: #fff;
  }

  &__item {
    display: flex;
    min-height: 45px;
    align-items: center;
    padding: 5px 10px;
  }

  &__item + &__item {
    border-top: 1px solid #d8dde6;
  }
}
