.commons-dialogs-daily-summary-dialog-summary-output-summary {
  display: inline-block;

  &__label {
    position: relative;
    display: inline-block;
    padding-right: 7px;
    padding-left: 5px;
    margin-right: 10px;
    color: $color-text-modest;
  }

  &__label::after {
    position: absolute;
    right: 0;
    content: ':';
  }

  &__value {
    display: inline-block;
    margin-right: 10px;
    color: $color-text-emphasis;
    font-size: $font-size-large;
  }
}
