.planner-day-main-plan-work-report {
  color: #858592;

  &__items {
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    height: 45px;
    align-items: center;
  }

  &__item-text {
    flex-basis: 85px;
    padding-right: 10px;
    line-height: 1.2;
    text-align: right;
  }

  &__item-graph {
    height: 100%;
    flex-grow: 1;
    border-right: 1px solid #d8dde6;
    border-left: 1px solid #d8dde6;
  }

  &__item-detail {
    padding-left: 10px;
  }

  &__item-detail-name {
    display: inline-block;
    width: 33px;
    height: 23px;
    color: #fff;
    line-height: 23px;
    text-align: center;
  }

  &__item-graph {
    display: flex;
    align-items: center;
  }

  &__item-graph-svg {
    width: 100%;
    height: 25px;

    > rect {
      height: 25px;
    }
  }

  &__item-detail {
    flex-basis: 285px;
  }

  // color variation
  &__item-detail-name--blue {
    background-color: #4f90db;
  }

  &__item-detail-name--red {
    background-color: #ca6b5a;
  }

  &__item-detail-name--yellow-green {
    background-color: #b5dc86;
  }

  &__item-detail-name--grey {
    background-color: #a8a8b7;
  }

  &__item-detail-name--purple {
    background-color: #84799b;
  }

  &__item-detail-time {
    margin-left: 5px;
  }

  &__item-detail-time + &__item-detail-name {
    margin-left: 15px;
  }
}
