.admin-pc-employee-delegate-approval {
  overflow: visible;
  height: 600px;

  &__list--found-employees {
    padding-right: 10px;
    padding-left: 10px;
  }

  &__body {
    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    padding: 0.5rem;
  }

  &__add-btn {
    border-color: #2782ed;

    span {
      color: #2782ed;
    }
  }

  &__search-form {
    padding: 0.4rem 0 0.3rem;
  }

  &__grid {
    margin-top: 8px;
  }

  &__name {
    display: flex;
  }

  &__code {
    font-size: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    height: 28px;
    margin-top: 2px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 50%;
  }

  .ts-button {
    width: 66px;
    height: 32px;
  }

  .react-grid-Canvas {
    overflow: auto !important;
  }

  .react-grid-Cell,
  .react-grid-Row {
    height: 45px !important;
  }

  .react-grid-checkbox-label {
    display: none;
  }

  .react-grid-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 1;
  }

  .react-grid-HeaderCell {
    margin-top: -4px;
  }

  .react-grid-HeaderCell .form-group input {
    width: 100%;
  }

  .react-grid-Main {
    outline: none;
  }

  .react-grid-HeaderCell {
    background-color: #f4f6f9;
    color: $color-text-modest;
    font-weight: normal;
    text-align: left;
  }

  .react-grid-Cell {
    height: 32px;
    padding: 0 10px;
    border-right: none;
    background-color: #fff;
    color: $color-text-default;
    font-weight: normal;
    text-align: left;

    &:focus {
      outline: none;
    }
  }

  .react-grid-Row.row-selected .react-grid-Cell {
    background-color: $color-bg-active;
  }

  .react-grid-HeaderCell > .react-grid-checkbox-container {
    height: auto;
  }

  .react-grid-HeaderRow {
    background-color: #f4f6f9;
  }

  .react-grid-HeaderRow,
  .react-grid-HeaderCell {
    border: none;
  }

  .react-grid-HeaderRow:last-child .react-grid-HeaderCell {
    border-bottom: 1px solid #ddd;
  }

  .react-grid-HeaderRow {
    min-height: fit-content !important;
  }
}
