.ts-currency-badge {
  display: inline-block;
  width: 34px;
  height: 14px;
  align-self: center;
  background-color: #7fb6f7;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
