.ts-header.slds {
  position: relative;
  height: 86px;
  background-color: #154f92;

  .ts-header {
    &__title {
      height: 46px;

      &-area {
        display: inline-flex;
        padding-top: 10px;
        padding-bottom: 4px;
        margin-top: 0;
        margin-left: 78px;
        color: #fff;
        text-align: left;

        &-main {
          font-size: 18px;
          font-weight: lighter;

          &-right {
            position: absolute;
            right: 16px;

            &__icon {
              width: 22px;
            }
          }
        }
      }
    }

    &__line {
      position: absolute;
      width: 100%;
      height: 6px;
    }

    &__circle {
      position: absolute;
      top: 0;
      width: 60px;
      height: 60px;
      margin-top: 14px;
      margin-left: 14px;
      border-radius: 56px;
    }

    &__sub {
      height: 42px;
      padding: 0 12px;
      padding-top: 2px;
      background-color: #f2f2f2;
      color: #0d65fe;
      font-size: 22px;
      text-align: right;

      &-content {
        display: inline-flex;

        div {
          align-self: center;
          margin-left: 8px;
          vertical-align: middle;
        }

        &-total {
          color: #1682fc;
          font-size: 12px;
        }
      }
    }
  }
}
