.ts-spinner {
  position: fixed;
  z-index: 6000100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}

.ts-spinner--medium {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  margin-top: -28px;
  margin-left: -28px;
}

.ts-spinner--medium img {
  max-width: 100%;
  height: auto;
}
