.ts-navigation-bar.slds {
  position: relative;
  height: 44px;
  background-color: #1d689a;

  .ts-navigation-bar {
    &__item {
      &-center {
        height: 44px;
        padding: 7px 0;
        color: #eee;
        line-height: 30px;
        text-align: center;
      }

      &-left {
        position: absolute;
        top: 0;
        left: 0;
        height: 44px;
        padding: 12px;
      }

      &-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 44px;
        padding: 12px;
      }

      &__icon {
        width: 20px;
        height: 20px;
        fill: #fff;
      }

      &__button {
        height: 20px;
        padding: 0 6px;
        color: #eee;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
