.ts-navigator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
$h: ts-horizontal;

.#{$h} {
  &-enter {
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-timing-function: ease-out;

    &.#{$h}-enter-active {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }

  &-appear {
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-timing-function: ease-out;

    &.#{$h}-appear-active {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }

  &-leave {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: transform;
    -webkit-transition-timing-function: ease-out;

    &.#{$h}-leave-active {
      -webkit-transform: translate3d(100%, 0, 0);
    }
  }
}
$v: ts-vertical;

.#{$v} {
  &-enter {
    -webkit-transform: translate3d(0, 100%, 0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-timing-function: ease-out;

    &.#{$v}-enter-active {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }

  &-appear {
    -webkit-transform: translate3d(0, 100%, 0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-timing-function: ease-out;

    &.#{$v}-appear-active {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }

  &-leave {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: transform;
    -webkit-transition-timing-function: ease-out;

    &.#{$v}-leave-active {
      -webkit-transform: translate3d(0, 100%, 0);
    }
  }
}
