.ts-horizontal-layout {
  align-items: center;

  &__label {
    position: relative;
    padding-right: 14px;
    padding-left: 10px;
    color: $color-text-modest;
  }

  &__label::after {
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    content: ':';
  }

  &__label--has-help-msg {
    padding-right: 33px;
  }

  &__label label {
    display: inline-block;
    vertical-align: middle;
  }

  &__label-icon_help {
    position: absolute;
    right: 13px;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 7px;
    background-image: url("../../../../images/iconTooltip.png");
    background-size: 19px;
  }

  &__label-symbol {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }

  &__label-symbol--required {
    color: $ts-warning;
    line-height: 1;
  }

  & + #{&} {
    margin-top: 4px;
  }

  @at-root {
    .planner-day-time-track-form__aside-quadrant &__body {
      padding-right: 180px;
    }
  }
}
