@import '../../../../../styles/variables/colors';

.ts-expenses__form-records__list {
  display: inline;
  // display: block;
  overflow: scroll;
  // min-width: 0;
  width: 100%;
  min-height: 100%;
  font-size: 13px;

  &__empty {
    height: 100%;
    padding-top: 300px;
    background-image: url('../../../images/iconbackGround.png');
    background-position: top;
    background-repeat: no-repeat;
    color: #53688c;
    font-size: 15px;
    overflow-y: hidden;
    text-align: center;
  }

  &__items {
    background-color: $color-bg-lighter;
  }

  .is-disabled {
    background-color: $color-bg-pane-third;
    pointer-events: none;
  }

  &__item {
    display: table;
    width: 100%;
    height: 50px;
    padding-right: 200px;
    border: hidden;
    border-bottom: 1px solid $color-border-default;
    cursor: pointer;
    text-align: left;

    &__disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    &:disabled {
      background-color: $color-bg-pane-third;
    }

    &__header {
      display: table;
      width: 100%;
      height: 50px;
      padding-right: 200px;
      border: solid 1px #d8dde6;
      background-color: #f4f6f9;
      text-align: left;
    }

    &.active {
      background-color: #d8eaf1;
      text-decoration: none;
    }

    &__wrapbox__checkbox {
      display: table-cell;
      width: 3%;
      margin-left: 15px;
      text-align: center;
      vertical-align: middle;

      input {
        height: 15px;
      }
    }

    &__wrapbox__icon {
      display: table-cell;
      width: 2%;
      text-align: center;
      vertical-align: middle;

      &__hidden {
        opacity: 0;
      }

      &__appear {
        margin-left: 5px;
        opacity: 1;

        path {
          fill: #b7423a;
        }
      }
    }

    &__sub-item {
      display: table-cell;
      width: 3%;
      vertical-align: middle;
    }

    &__date {
      display: table-cell;
      overflow: hidden;
      width: 10%;
      max-width: 0;
      padding-left: 10px;
      // margin-top: 13px;
      margin-top: 20px;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }

    &__type {
      display: table-cell;
      overflow: hidden;
      width: 15%;
      max-width: 0;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }

    &__amount {
      display: table-cell;
      overflow: hidden;
      width: 10%;
      max-width: 0;
      padding-right: 5%;
      text-align: right;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }

    &__proof {
      display: table-cell;
      overflow: hidden;
      width: 5%;
      max-width: 0;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;

      img {
        width: 20px;
      }
    }

    &__remark {
      display: table-cell;
      overflow: hidden;
      width: 20%;
      max-width: 0;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  &__receipt__record__icon {
    width: 20px;
  }

  &__icon-item {
    &-wrapper {
      display: table-cell !important;
      width: 3%;
      height: 100%;
      text-align: center;

      & .slds-popover {
        width: 560px;
      }

      & .slds-popover__body {
        padding: 18px 24px;
      }

      & .slds-popover__close {
        display: none;
      }
    }

    &-btn {
      height: 100%;
      border: none;
      background: none;

      &-icon {
        fill: none;
      }
    }

    &-popover {
      &-body {
        width: 600px;
        height: 600px;
      }
    }
  }

  &__foreign-total {
    color: #666;
    font-size: 10px;
  }

  & .cls-detail {
    fill: #365378;
  }
}
