@import 'mobile-global-imports.scss';

.mobile-app-molecules-report-type-select-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  button.close-button {
    top: -unit(2);
  }

  .content {
    position: relative;
    top: -unit(2);
    width: 90%;
    height: 80%;
  }

  .mobile-app-molecules-commons-dialog__title {
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    border-bottom: 1px solid $color-gray-300;
    color: #000;
    font-size: $medium-size;
  }

  .mobile-app-molecules-commons-dialog__content {
    height: calc(100% - 120px);
  }

  .mobile-app-molecules-commons-dialog__buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    border: none;
    border-top: 1px solid $color-gray-300;

    .mobile-app-molecules-commons-dialog__button-center {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      transform: translate(-50%, -50%);
    }
  }

  &__content-container {
    height: 100%;
  }
  // view lists
  &__section {
    height: calc(100% - 130px);
  }

  &__section-label {
    margin: 0 0 unit(1);
    color: $color-blue-800;
    font-size: 13px;
  }

  &__section-viewList {
    height: calc(100% - 40px);
    overflow-y: auto;
  }
}
