$color_input_title: #999;
$color_input_value: #000;
$color_input_separate: #000;
$color_btn_text: #4e6493;
$color_text_main: #000;
$color_text_error: #8c0000;
$color_text_info: #7e8bac;
$color_text_sub: #868695;
$color_text_blue: #007fff;
$color_header_skyblue: #d0f1ff;
$color_header_font: #216cae;

.ts-expenses-requests {
  position: relative;
  z-index: 2;
  left: 10px;
  width: 50%;
  height: 100%;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.33);
  float: right;

  &-header {
    display: flex;
    min-height: 36px;
    justify-content: space-between;
    padding: 3px 15px 3px 3px;
    background-color: $color_header_skyblue;
    color: $color_header_font;
    font-size: 16px;
  }

  &-nav-title {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  &__contents {
    overflow: auto;
    height: 100%;
    padding: 20px;
    padding-bottom: 70px;
    background-color: #f0f1f4;

    &__amount {
      padding: 10px;
      margin-top: 12px;
      margin-bottom: 12px;
      background-color: #dbeff9;

      input[readonly] {
        border-color: #eee;
        background-color: transparent;
      }

      input[readonly]:hover,
      input[readonly]:focus,
      input[readonly]:active {
        border-color: #eee;
        box-shadow: none;
      }
    }

    &__expense-type.ts-text-field.slds-input {
      width: 220px;
    }

    &__back-btn {
      display: block;
      margin-bottom: 13px;
      color: #444;

      img {
        transform: rotate(180deg);
      }

      span {
        margin-left: 4px;
        vertical-align: middle;
      }
    }

    & .search {
      & > button {
        width: 32px;
        height: 28px;
        margin-left: 4px;
        border: solid 1px #d0d0d0;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;

        &.disable {
          background-color: #f5f5f5;
          cursor: default;
        }
      }

      & img {
        width: 22px;
      }

      &__caution {
        padding-right: 4px;
        padding-left: 4px;
        margin-bottom: 12px;

        &-img {
          display: inline-block;
          width: 24px;
        }

        &-text {
          display: inline-block;
          padding-left: 4px;
          color: #601b24;
          font-size: 13px;
          vertical-align: middle;
        }
      }
    }

    &__contents.disabled {
      opacity: 0.3;
    }

    &.to-be-itemized {
      & .gst-vat,
      & .amount-without-tax {
        color: #999;
      }
    }

    .record_item__contents__amount_selection {
      .ts-select-input {
        width: 220px;
        padding: 0 10px;

        &:disabled {
          background-color: #f4f6f6;
        }
      }
    }
  }

  &__record_cost-center,
  &__record_job {
    &-btn--change {
      margin-left: 20px;
    }
  }
}
